html
    scroll-behavior: smooth

body
    font-family: 'Vela Sans GX', sans-serif
    font-weight: 400
    font-size: var(--font-size)
    background: #fff
    color: var(--color-black)
    min-width: 420px
    counter-reset: titleCounter

ul
    list-style: none
    margin: 0
    padding: 0

a
    color: inherit
    text-decoration: none

input, textarea, button, select
    outline: none
    border: 0
    border-radius: 0

button
    cursor: pointer

input, textarea
    background: transparent

.fancybox__container
    --fancybox-bg: rgba(0, 0, 0, .4)

.container
    margin: 0 auto
    max-width: 1760px
    width: 100%
    padding: 0 20px
    position: relative
    z-index: 5

.section
    padding: 125px 0
    width: 100%
    &-gray
        background: var(--color-gray)
    &-border
        border-top: 1px solid var(--color-border)
    &-head
        @include flexbox
        flex-direction: column
        align-items: flex-start
        gap: 18px
        &__counter
            padding: 50px 0
            border-top: 1px solid var(--color-border)
            @include flexbox
            flex-direction: column
            align-items: flex-start
            gap: 12px
            position: relative
            padding-left: 90px
            counter-increment: titleCounter
            &-description
                line-height: 1.6
                font-weight: 600
            &::before
                content: counter(titleCounter, decimal-leading-zero)
                position: absolute
                top: 0
                bottom: 0
                margin: auto 0
                left: 0
                width: 32px
                height: 24px
                line-height: 24px
                font-size: 22px
                line-height: 1.4
                letter-spacing: -0.03em
                font-weight: 600
            &::after
                content: ''
                position: absolute
                top: 0
                bottom: 0
                margin: auto 0
                left: 48px
                width: 26px
                height: 1px
                background: var(--color-black)
    &-title
        font-size: 52px
        line-height: 1.1
        letter-spacing: -0.02em
        font-weight: 700
        &-md
            font-size: 40px
            line-height: 1.1
            font-weight: 600
            letter-spacing: -0.03em
            span
                font-weight: 500
    &-description
        max-width: 600px
        line-height: 1.6
        font-weight: 500
        color: rgba(0,0,0,.7)

.btn
    @include flexbox
    align-items: center
    justify-content: center
    font-weight: 600
    line-height: 1
    text-align: center
    width: 100%
    transition: var(--transition-ms)
    &-sm
        height: 74px
        letter-spacing: -0.03em
    &-md
        height: 84px
        letter-spacing: -0.03em
    &-lg
        height: 94px
        letter-spacing: -0.03em
    &-outlined
        border: 1px solid #ABABAB
        &:hover
            border-color: var(--color-yellow)
            background: var(--color-yellow)
    &-red
        background: var(--color-red)
        color: var(--color-white)
        &:hover
            background: var(--color-red-hover)
    &-dark
        background: var(--color-dark)
        color: var(--color-white)
        &:hover
            background: #2d3d46
