:root
	--color-black: #000000
	--color-white: #FFFFFF
	--color-gray: #F9F9F9
	--color-red: #E31E24
	--color-red-hover: #B5171B
	--color-yellow: #FADF4B
	--color-yellow-hover: #F1CD06
	--color-dark: #1D2C34
	--color-border: rgba(136, 136, 136, 0.18)

	--transition-ms: .3s

	--font-size-xxs: 12px
	--font-size-xs: 14px
	--font-size-sm: 16px
	--font-size-default: 18px
	--font-size-md: 22px
	--font-size-lg: 40px
	--font-size-xl: 46px
