@media (max-width: 1260px)
	:root
		--font-size-xxs: 9px
		--font-size-xs: 11px
		--font-size-sm: 12px
		--font-size-default: 14px
		--font-size-md: 20px
		--font-size-lg: 28px
		--font-size-xl: 36px

	.container
		max-width: 974px

	.btn
		&-xs
			height: 54px
			font-size: 14px
		&-sm
			height: 54px
		&-md
			height: 64px
		&-lg
			height: 74px

	.section
		&-head
			&__counter
				&::before
					top: 10px
				&::after
					top: 21px

	.header
		&-logo
			&__text
				display: none
			&__svg
				width: 112px
				height: 20px
		&-top
			height: 51px
			&__city
				padding: 0 10px
				gap: 10px
				&::before
					display: none
				&::after
					width: 12px
					height: 6px
					background-size: cover
				&-label
					line-height: 12px
				&-selected
					line-height: 14px
			&__btn
				padding: 0 10px
				gap: 10px
				height: 51px
				span
					display: none
		&-bottom
			height: 36px
			&__nav
				li
					&[data-category] a::after
						width: 12px
						height: 6px
						background-size: cover
			&__phone
				line-height: 1
				&::after
					width: 14px
					height: 14px
					background-size: cover

	.promo
		height: calc(100vh - 88px)
		&-item
			&__content
				max-width: 500px
				.btn
					padding: 0 30px
			&__background
				max-width: calc(220px + var(--pos-right) * -1)
		&-control
			width: calc(100% - 220px)

	.laminate
		&-item
			&__pic
				width: 100%
				height: 240px

	.manufactured
		&-col
			&:nth-child(1)
				width: calc(50% - 32px)
				padding: 40px 0
				gap: 40px
			&:nth-child(2)
				width: calc(50% + 32px)
				padding: 40px 0 40px 40px
		&-grid
			margin-top: 40px
			gap: 24px
		&-decor
			margin-top: 40px
		&-total
			gap: 24px
			padding-right: 40px
			align-items: center
			&__price
				width: 100%
				gap: 8px
				align-items: center
			.btn
				height: 54px
				max-width: 100%

	.certificates
		&-item
			&__image
				height: 360px
				padding: 10px
			&__info
				padding: 20px
				&::after
					content: 'Открыть'
					width: auto
					height: auto
					line-height: 18px
					font-size: var(--font-size-sm)
					font-weight: 700
					display: block
					padding-right: 18px
					border: 0
					position: relative
					border-radius: 0
					background-color: transparent !important
					background-position: right center
					background-size: 12px
					top: 0
					right: 0

	.objects
		&-item
			&__content
				width: 290px
			&__gallery
				width: calc(100% - 290px - 10px)
				min-height: 655px
				grid-template-columns: repeat(3, 1fr)
				grid-template-rows: repeat(4, 1fr)
				a
					&:nth-child(1)
						grid-area: 1 / 1 / 3 / 2
					&:nth-child(2)
						grid-area: 1 / 2 / 3 / 3
					&:nth-child(3)
						grid-area: 1 / 3 / 2 / 4
					&:nth-child(4)
						grid-area: 2 / 3 / 3 / 4
					&:nth-child(5)
						grid-area: 3 / 1 / 5 / 4

	.get-samples
		&-content
			max-width: 460px
		&-image
			&__bg
				margin-right: -300px
			img
				width: 460px
				top: 50%
				transform: translateY(-50%)
				right: -10px

	.installation
		&-tab
			&__content
				width: calc(50% + 30px)
				padding: 50px 50px 0
			&__image
				width: calc(50% - 30px)
			&__buttons
				padding-top: 0
				flex-direction: column
				&::before
					display: none
				.btn
					width: 100%

	.advantages
		&-grid
			grid-template-columns: repeat(2, 1fr)
			gap: 12px
		&-item
			height: 270px

	.colors
		&-head
			.btn
				display: none
		&-grid
			& + .btn
				display: flex
				margin-top: 40px
		&-mini
			&-grid
				grid-template-columns: repeat(3, 1fr)
				gap: 12px
		&-catalog
			&-content
				max-width: 480px
			&-book
				left: 0
			&-bg
				&::before
					width: calc(220px + (var(--pos-right) * -1))
				&::after
					width: calc(460px + (var(--pos-right) * -1))
			&-buttons
				margin-top: 32px

	.showroom
		&-grid
			gap: 12px
			&__item
				height: 230px
				width: 100%
		&-info__list li
			background-size: 16px
			padding-left: 32px

	.scope
		&-item
			width: calc((100% - 32px) / 3)
			&-xl
				.scope-item__image
					height: 290px
			&:nth-child(n + 9)
				display: none
			&:nth-child(7),
			&:nth-child(8)
				width: calc((100% - 16px) / 2)
				.scope-item__image
					height: 450px

	.warehouses
		&-content
			width: 60%
			padding-right: 40px
		&-map
			width: 40%
		&-group__list
			li
				font-size: 13px

	.specialists
		&-grid
			width: 420px
			&__list
				grid-template-columns: repeat(1, 1fr)
			&__bg
				&::before
					width: 80px
				&::after
					left: 80px
					width: 360px
		&-content
			width: calc(100% - 420px - 80px)
		&-item
			align-items: center
			flex-direction: row
			&__photo
				width: 100px

	.footer
		&-content
			max-width: 350px
			gap: 0 12px
			margin-left: auto
			&__col:last-child
				max-width: 120px
		&-sidebar
			max-width: 520px
		&-offices
			&__info
				flex-direction: column
				gap: 20px
				li
					width: 100%

	.products
		&-item
			width: calc((100% - (1 * 12px)) / 2)
			height: 280px
			padding: 24px
			&__image
				width: 240px
				right: 30px
			&__counter
				padding: 24px

	.partners
		&-item
			height: 260px

	.estimate
		&-content
			max-width: 480px
		&-image
			top: 50%
			transform: translateY(-50%)
			left: -260px

	.speak
		&-item
			&__video
				&::before
					transform: translate(-50%, -50%) scale(0.8)

	.doors
		&-type
			&-grid
				flex-wrap: nowrap
				overflow: auto
				margin: 32px var(--pos-right) -30px
				padding: 0 calc(var(--pos-right) * -1) 30px
				&::-webkit-scrollbar
					display: none
			&-item
				width: 320px
				min-width: 320px
				&__image
					height: 360px
				&__title
					height: 60px
				&__list li
					padding-top: 10px
					padding-bottom: 10px
					background-position: top 10px right
			&-bg
				display: none
		&-edu
			&-grid
				flex-wrap: nowrap
				overflow: auto
				margin: 32px var(--pos-right) -30px
				padding: 0 calc(var(--pos-right) * -1) 30px
				&::-webkit-scrollbar
					display: none
			&-item
				width: 320px
				min-width: 320px
				&__image
					height: 430px
		&-detail
			padding: 0px
			&-left
				padding: 30px
				width: 55%
			&-right
				padding: 30px
				gap: 30px
				width: 45%
			&-list
				li
					gap: 8px
					margin-bottom: 16px
					span
						width: 220px
			&-types
				width: 160px
				&__title
					margin-bottom: 16px
				&__list
					li
						margin-bottom: 12px
						padding: 10px 10px 16px
						b
							padding: 12px 0
							margin-bottom: 10px
						svg
							height: 80px
			&-view
				max-width: 260px
				&__price
					padding: 12px
					span
						font-size: 20px
				&__image
					height: 400px
		&-hidden
			&-content
				max-width: 500px
				gap: 60px
			&-total
				gap: 32px
				max-width: 320px
				.btn
					flex: initial
					width: 100%
		&-reliable
			&-left
				max-width: 290px
				&__col
					width: 100%
					flex: initial
				&__item
					img
						height: 140px
						max-height: 100%
						flex: initial
						object-fit: contain
						object-position: center
					b
						margin-top: 24px
						max-width: 100%
					p
						margin-top: 8px

	.gallery
		&-carousel
			&__item
				height: 530px

	.accessories
		&-carousel
			&__wrapper
				.splide
					&__arrow
						&--next
							right: -20px
						&--prev
							left: -20px
