@media (max-width: 1600px)
	:root
		--font-size-xxs: 10px
		--font-size-xs: 12px
		--font-size-sm: 14px
		--font-size-default: 16px
		--font-size-md: 20px
		--font-size-lg: 30px
		--font-size-xl: 38px

	.container
		padding: 0 15px
		max-width: 1310px

	.btn
		&-xs
			height: 54px
			font-size: 14px
		&-sm
			height: 64px
		&-md
			height: 74px
		&-lg
			height: 84px

	.input
		height: 54px

	.section
		padding: 80px 0
		&-head
			&__counter
				padding-left: 70px
				&::before
					top: 12px
				&::after
					left: 40px
					width: 16px
					top: 23px
		&-label
			font-size: 12px
			line-height: 1
			padding: 12px 20px

	.header
		&-logo
			gap: 20px
		&-top
			&__nav
				line-height: 18px
				gap: 20px
				padding: 0 10px
			&__city
				&-text
					gap: 2px
					min-width: 90px
				&-label
					line-height: 14px
				&-selected
					line-height: 16px
			&__btn
				padding: 0 14px
				gap: 12px
				font-weight: 600
				&::after
					width: 27px
					height: 17px
					background-image: url("data:image/svg+xml,%3Csvg width='27' height='17' viewBox='0 0 27 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='26' height='16' rx='8' stroke='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0261 12.0912L17.4233 8.85921C17.6318 8.66088 17.6318 8.33932 17.4233 8.14098L14.0261 4.90896C13.8177 4.71062 13.4797 4.71062 13.2712 4.90896C13.0627 5.10729 13.0627 5.42885 13.2712 5.62718L15.7571 7.99223L9.41992 7.99223L9.41992 9.00796L15.7571 9.00796L13.2712 11.373C13.0627 11.5713 13.0627 11.8929 13.2712 12.0912C13.4797 12.2896 13.8177 12.2896 14.0261 12.0912Z' fill='white'/%3E%3C/svg%3E%0A")
		&-bottom
			&__nav
				li
					a
						padding: 0 10px
			&__phone
				gap: 10px
		&-dropdown
			&__sidebar
				width: 420px
				&-nav
					li
						a
							padding: 12px 16px
			&__main
				&-content
					&.is-active
						gap: 16px
					img
						height: 320px

	.promo
		&-item
			&__content
				max-width: 660px
				width: 65%
				gap: 24px
				&::before
					width: 70px
					height: 4px
			&__list
				li
					&::before
						top: 13px
			&__background
				max-width: calc(35% + var(--pos-right) * -1)
				img
					max-height: 430px
					left: -100px
			&__bullets
				li
					background-size: 20px
					line-height: 20px
		&-control
			width: 65%
			height: 69px
			&__next
				span
					line-height: 16px
				p
					line-height: 20px
			&__arrows
				height: 70px
				.splide
					&__arrow
						width: 70px
						height: 70px
						svg
							display: block
							width: 10px
							height: 18px
							transform: scale(0.8)

	.laminate
		&-arrows
			height: 70px
			.splide
				&__arrow
					width: 70px
					height: 70px
					svg
						transform: scale(0.8)
		&-item
			padding: 12px
			gap: 12px
			&__pic
				width: 250px
				&-front
					width: 170px
				&-side
					width: 8px
			&__price,
			&__price.sale
				line-height: 22px
			&__bottom
				padding-top: 16px
			&__info
				gap: 16px

	.manufactured
		&-description
			max-width: 420px
		&-col
			&:nth-child(1)
				width: 52%
				padding: 60px 0
			&:nth-child(2)
				width: 48%
				padding: 60px 0 60px 60px
		&-list
			gap: 24px
		&-decor
			&__list
				gap: 8px
				img
					width: 48px
					height: 48px
				a.manufactured-decor__more
					width: 48px
					height: 48px
		&-carousel
			.splide
				&__arrow
					width: 70px
					height: 70px
					svg
						transform: scale(0.8)
		&-total
			gap: 48px
			padding-right: 40px
			&__price
				gap: 10px
			.btn
				max-width: 256px
				height: 68px

	.certificates
		&-grid
			margin-top: 40px
			gap: 16px
		&-item
			width: calc((100% - (3 * 16px)) / 4)
			&__image
				height: 380px
				padding: 40px
			&__info
				padding: 24px 20px
				padding-right: 80px
				&::after
					width: 48px
					height: 48px
					top: 24px
					right: 20px

	.objects
		&-carousel
			margin-top: 32px
			&__thumbs
				margin-bottom: 40px
				.splide
					&__arrows
						height: 71px
						width: 140px
					&__arrow
						width: 70px
						height: 70px
						svg
							transform: scale(0.8)
					&__slide
						span
							height: 70px
							padding: 0 16px
		&-item
			&__content
				width: 370px
				.btn
					height: 64px
			&__info
				padding: 24px
				gap: 16px
			&__gallery
				width: calc(100% - 370px - 10px)
			&__title
				font-size: 20px
			&__gallery
				min-height: 625px
		&-section
			&__grid
				margin-top: 32px
			&__item
				height: 480px
				&:nth-child(4n + 1),
				&:nth-child(4n)
					width: calc(100% - 480px - 24px)
				&:nth-child(4n + 2),
				&:nth-child(4n + 3)
					width: 480px
				&-info
					padding: 32px
					max-width: 600px
				&-title
					font-size: 28px
				&-description
					padding-top: 12px
				&-date
					margin-top: 12px
				&::after
					bottom: 32px
					right: 32px
		&-breadcrumbs
			max-height: 600px
		&-about
			&__text
				margin-top: 32px
				gap: 16px
			&__info
				gap: 12px
				li
					padding: 20px

	.get-samples
		&-content
			max-width: 580px
		&-form
			margin-top: 40px
			.btn
				height: 64px
			&__agree
				margin-top: 16px
		&-image
			right: 15px
			img
				width: 520px
				max-width: initial
			&__bg
				span:not(:last-child)
					width: 200px !important

	.installation
		.section-title
			max-width: 700px
		.section-description
			max-width: 480px
		&-tabs
			margin-top: 32px
			li
				height: 56px
		&-tab
			margin-top: 32px
			&__content
				width: calc(50% + 60px)
			&__image
				width: calc(50% - 60px)
			&__description
				max-width: 480px
			&__inc
				margin: 32px 0
				&-title
					margin-bottom: 12px
				&-list
					li
						line-height: 18px
						padding-left: 46px
						margin-bottom: 0
						&::after
							left: 30px
			&__buttons
				.btn
					padding: 0 16px

	.advantages
		&-grid
			margin-top: 40px
		&-item
			height: 320px
			padding: 24px
			&::before
				bottom: 24px
				left: 24px
			&__icon
				bottom: 24px
				right: 24px
				width: auto
				height: 70px

	.comparison
		.section-title,
		.section-description
			max-width: 580px
		&-grid
			margin-top: 44px
		&-item
			padding-right: 24px
			&__list
				li
					line-height: 16px
					span
						padding: 12px
					&::after
						width: 40px
			&__title
				line-height: 24px

	.colors
		.section-head
			max-width: 550px
		&-grid
			margin-top: 44px
		&-item
			&__images
				img
					height: 100px
			&__title
				height: 52px
		&-mini
			&-grid
				margin-top: 32px
			&-item
				img
					width: 100px
					height: 100px
				span
					margin-top: 16px
		&-catalog
			&-content
				max-width: 680px
			&-buttons
				max-width: 640px
			&-book
				width: 380px
			&-bg
				&::before
					width: calc(360px + (var(--pos-right) * -1))
				&::after
					width: calc(600px + (var(--pos-right) * -1))

	.showroom
		&-main
			max-width: 440px
		&-info
			&__title
				background-size: 18px
				line-height: 1
			&__list
				li
					padding-top: 8px
					padding-bottom: 8px
		&-grid
			&__item
				height: 320px

	.scope
		&-grid
			gap: 16px
			& + .btn
				margin-top: 32px
				height: 64px
				font-size: 14px
		&-item
			width: calc((100% - (16px * 3)) / 4)
			&-xl
				width: calc((100% - (16px * 1)) / 2)
				.scope-item__image
					height: 530px
			&-md
				width: 320px
			&__image
				height: 290px
			&__title
				height: 70px
				line-height: 1.1
				&::after
					width: 70px
					height: 70px

	.warehouses
		&-content
			width: 50%
			max-width: 580px
		&-group
			&__list
				li
					font-size: 14px
		&-map
			.btn
				height: 64px
			svg
				width: 1220px
				height: 630px
				top: 0px
				left: -40px

	.about
		.section-title
			max-width: 670px
		&-list
			margin-top: 120px
			li
				b
					font-size: 94px

	.specialists
		&-content
			max-width: 550px
		&-grid
			width: 530px
		&-item
			padding: 16px
			gap: 16px
			&__info
				gap: 8px

	.footer
		&-main
			padding: 60px 0
		&-sidebar
			gap: 56px
		&-logo
			&__svg
				width: 166px
				height: 30px
		&-contacts
			gap: 40px
		&-offices
			&__label
				max-width: 300px
			&__select
				height: 54px
				font-size: 16px
			&__info
				max-width: 672px
				gap: 40px
				li
					width: calc(100% / 2 - 20px)
			.btn
				height: 54px
				padding: 0 15px
		&-content
			max-width: 450px
			gap: 0 40px
			&__title
				margin-bottom: 20px
			&__nav
				margin-bottom: 40px
			&__col:last-child
				max-width: 150px
		&-bottom
			padding: 20px 0
		&-social
			li
				a
					width: 42px
					height: 42px
					svg
						width: 16px
						height: 16px

	.laspan
		&-list
			gap: 16px
			margin-top: 32px
			li
				width: calc((100% - (2 * 16px)) / 3)
				padding: 64px 16px 16px
				&::before
					top: 16px
					left: 16px
					width: 32px
					height: 32px
					line-height: 32px

	.interior
		&-content
			max-width: 540px
			&::before
				right: -200px

	.products
		&-grid
			margin-top: 32px
			gap: 12px
		&-item
			width: calc((100% - (3 * 12px)) / 4)
			height: 390px
			padding: 24px
			&__image
				width: 240px
				right: 30px
			&__counter
				padding: 24px
			&__background
				background-position: top -60px center

	.services
		.container
			top: 80px
		&-slider
			margin-top: 32px
			&-wrapper
				gap: 12px
		&-item
			width: 440px
			min-width: 440px
			height: 510px
			padding: 24px
			&::before
				width: 44px
				height: 1px
				margin-bottom: 16px
			&::after
				width: 120px
			&__title
				font-size: 28px
			&__description
				margin-top: 16px
			.btn
				width: 220px
			&-gray
				.services-item__pic
					width: 340px
					right: -80px
			&-dark
				.services-item__pic
					width: 400px
					right: -160px
			&-blue
				.services-item__pic
					width: 320px
					right: -50px
					bottom: -50px
			&-red
				.services-item__pic
					width: 280px
					right: -44px

	.partners
		&-carousel
			margin-top: 32px
		&-arrows
			height: 70px
			.splide
				&__arrow
					width: 70px
					height: 70px
					svg
						transform: scale(0.8)
		&-item
			height: 320px

	.estimate
		&-content
			max-width: 600px
			margin-right: 0
		&-form
			margin-top: 48px
			gap: 16px
		&-image
			bottom: -95px
			left: -110px
			width: 678px

	.speak
		&-carousel
			margin-top: 32px
		&-arrows
			height: 70px
			.splide
				&__arrow
					width: 70px
					height: 70px
					svg
						transform: scale(0.8)

	.doors
		&-type
			&-grid
				margin-top: 32px
				gap: 12px
			&-item
				width: calc((100% - (12px * 3)) / 4)
				&__image
					height: 360px
				&__title
					height: 60px
				&__list li
					padding-top: 10px
					padding-bottom: 10px
			&-bg
				position: absolute
				bottom: 0
				right: 0
				width: 398px
		&-edu
			&-grid
				margin-top: 32px
			&-item
				&__image
					height: 450px
				&__title
					padding: 16px 0
		&-detail
			padding: 12px
			margin-top: 32px
			&-left
				padding: 30px
			&-right
				padding: 30px
				gap: 30px
			&-list
				li
					gap: 8px
					margin-bottom: 16px
					span
						width: 220px
			&-types
				width: 190px
				&__title
					margin-bottom: 16px
				&__list
					li
						margin-bottom: 12px
						padding: 10px 10px 16px
						b
							padding: 12px 0
							margin-bottom: 10px
						svg
							height: 80px
			&-view
				max-width: 280px
				&__price
					padding: 12px
					span
						font-size: 24px
				&__image
					height: 420px
		&-hidden
			&-content
				max-width: 720px
				gap: 48px
			&-list
				width: 100%
				max-width: 500px
				li
					gap: 8px
					margin-bottom: 16px
					span
						width: 190px
			&-total
				gap: 32px
				max-width: 640px
				&__price
					b
						font-size: 28px
						span
							font-size: 40px
					p
						margin-top: 12px
		&-reliable
			&-grid
				margin-top: 32px
			&-left
				gap: 24px
				max-width: 524px
				&__col
					gap: 24px
				&__item
					img
						max-height: 580px
					b
						margin-top: 24px
						max-width: 100%
					p
						margin-top: 8px
			&-right
				max-width: 600px
				&__image
					padding: 16px
					img
						max-height: 620px
				&__list
					max-width: 240px
					margin-left: 40px
					li
						&::before
							top: 4px
						&::after
							top: 4px
				&__item-1
					margin-top: 40px
					&::before
						left: -334px
				&__item-2
					margin-top: 70px
					&::before
						left: -280px
				&__item-3
					margin-top: 80px
					&::before
						left: -290px
				&__item-4
					margin-top: 60px
					&::before
						left: -210px
				&__item-5
					margin-top: 40px
					&::before
						left: -140px

	.gallery
		&-carousel
			margin-top: 32px
			&__item
				height: 560px

	.accessories
		&-tabs
			margin-top: 32px
			li
				line-height: 16px
		&-tab
			margin-top: 32px
		&-item
			&__image
				height: 300px
				padding: 40px
			&__price
				margin-top: 24px
		&-carousel
			&__wrapper
				.splide
					&__arrow
						width: 70px
						height: 70px
						top: 115px
						&--next
							right: -30px
						&--prev
							left: -30px
						svg
							transform: scale(0.8)

	.profile
		&-item
			min-height: 660px
			&__content
				padding: 40px
				gap: 24px
			&__grid
				gap: 24px
			&__info
				&-decor
					margin-top: 20px
					img
						width: 32px
						height: 32px
			&__pics
				max-width: 210px
			&__total
				&-price
					b
						font-size: 32px
				.btn
					max-width: 270px
		&-type
			&-grid
				margin-top: 32px
			&-left
				width: 230px
			&-middle
				&__number
					width: 32px
					height: 32px
					line-height: 32px
					font-size: 14px
					&[data-type="2"]
						right: 300px
					&[data-type="3"]
						top: 540px
			&-right
				width: 320px
			&-item
				&__number
					width: 32px
					height: 32px
					line-height: 32px
					font-size: 14px
				&__info
					padding: 12px
				&[data-type="1"],
				&[data-type="2"]
					img
						margin: 0 auto 12px
			&-group
				padding: 8px
				gap: 8px
				.profile-type-item
					width: calc(100% / 2 - 4px)
			&-free
				b
					font-size: 28px

	.paneli
		&-content
			&__section
				padding-top: 60px
				gap: 24px
				&:last-child
					padding-bottom: 60px
			&__wrapper
				gap: 24px
			&__cards
				li
					padding: 16px
		&-card
			padding: 60px 0
			&__grid
				gap: 24px
			&__detail
				padding: 24px
				max-width: 620px
			&__title
				font-size: 24px
			&__back
				&::before
					margin-right: 4px
			&__price
				font-size: 24px
			&__status
				font-size: 12px
				line-height: 16px
			&__gallery
				&-main
					min-height: 510px
				&-thumbs
					margin-top: 12px
					.splide__slide
						border: 0 !important

	.breadcrumbs
		min-height: 280px
		padding: 140px 0 60px
		&::after
			right: -40px
			width: 670px
			height: 516px
		&-title
			margin-top: 12px
