@media (max-width: 576px)
	.colors
		&-mini
			&-grid
				grid-template-columns: repeat(2, 1fr)
			&-item
				padding: 16px
				img
					width: 60px
					height: 60px
				span
					margin-top: 12px

	.products
		&-item
			width: 100%
			height: 220px
			padding: 16px
			&__image
				width: 160px
				right: 16px
			&__counter
				padding: 16px
			&__background
				background-position: top -60px center

	.services
		&-item
			min-width: 370px
			width: 370px
			&::after
				width: 80px
			&__title
				font-size: 24px
		&-slider
			margin-left: -15px
			margin-right: -15px
			&-wrapper
				padding: 0 15px

	.doors
		&-type
			&-grid
				margin-top: 24px
		&-edu
			&-grid
				margin-top: 24px
			&-budget
				width: 100%
		&-detail
			&-left
				padding: 16px
			&-list
				li
					gap: 8px
					margin-bottom: 16px
					span
						width: 180px
			&-types
				width: 100%
				margin-top: 30px
				order: 1
				&__title
					margin-bottom: 16px
				&__list
					@include flexbox
					gap: 12px
					li
						margin: 0
						padding: 12px
						flex: 1
						min-width: 40%
						svg
							height: 72px
			&-view
				max-width: 100%
				&__image
					height: 320px
		&-hidden
			&-content
				max-width: 100%
				gap: 48px
				&::before
					right: -1000px
			&-total
				gap: 24px
				max-width: 100%
				.btn
					height: 64px
			&-list
				li
					span
						width: 100%

	.accessories
		&-tabs
			margin-top: 24px
		&-tab
			margin-top: 24px
		&-carousel
			width: 300px
			.splide__track
				overflow: inherit
			&__wrapper
				.splide
					&__arrow
						display: none
