@media (max-width: 576px)
	.colors
		&-mini
			&-grid
				grid-template-columns: repeat(2, 1fr)
			&-item
				padding: 16px
				img
					width: 60px
					height: 60px
				span
					margin-top: 12px

	.products
		&-item
			width: 100%
			height: 220px
			padding: 16px
			&__image
				width: 160px
				right: 16px
			&__counter
				padding: 16px
			&__background
				background-position: top -60px center

	.services
		&-item
			min-width: 370px
			width: 370px
			&::after
				width: 80px
			&__title
				font-size: 24px
		&-slider
			margin-left: -15px
			margin-right: -15px
			&-wrapper
				padding: 0 15px

	.doors
		&-type
			&-grid
				margin-top: 24px
		&-edu
			&-grid
				margin-top: 24px
			&-budget
				width: 100%
		&-detail
			&-left
				padding: 16px
			&-list
				li
					gap: 8px
					margin-bottom: 16px
					span
						width: 180px
			&-types
				width: 100%
				margin-top: 30px
				order: 1
				&__title
					margin-bottom: 16px
				&__list
					@include flexbox
					gap: 12px
					li
						margin: 0
						padding: 12px
						flex: 1
						min-width: 40%
						svg
							height: 72px
			&-view
				max-width: 100%
				&__image
					height: 320px
		&-hidden
			&-content
				max-width: 100%
				gap: 48px
				&::before
					right: -1000px
			&-total
				gap: 24px
				max-width: 100%
				.btn
					height: 64px
			&-list
				li
					span
						width: 100%
		&-reliable
			&-grid
				margin-top: 24px
			&-left
				order: 1
				&__col
					flex: 1
					width: auto !important
					&:nth-child(2)
						flex-direction: column
						.doors-reliable-left__item
							width: 100%
							height: auto
				&__item
					height: 100%
					img
						max-height: 100%
						height: auto
						flex: 1
					b
						margin-top: 16px
			&-right
				margin: 0 0 24px
				&__image
					img
						max-height: 320px
				&__list
					max-width: 180px
					margin-left: 20px
				&__item-1
					margin-top: 20px
					&::before
						left: -174px
				&__item-2
					margin-top: 20px
					&::before
						left: -110px
				&__item-3
					margin-top: 10px
					&::before
						left: -160px
				&__item-4
					margin-top: 10px
					&::before
						left: -120px
				&__item-5
					margin-top: 10px
					&::before
						left: -80px

	.accessories
		&-tabs
			margin-top: 24px
		&-tab
			margin-top: 24px
		&-carousel
			width: 300px
			.splide__track
				overflow: inherit
			&__wrapper
				.splide
					&__arrow
						display: none

	.profile
		&-promo
			.promo-item__content
				padding-bottom: 24px !important
			&__item
				width: calc((100% - (1 * 12px)) / 2)
				height: 94px
				img
					top: -20px
					right: -10px
					max-height: 90%
		&-item
			border: 0
			margin-bottom: 40px
			&__image
				height: 240px
			&__content
				padding: 20px 0 0
			&__pics
				position: relative
				top: 0
				padding: 0
				img
					width: calc(100% / 2 - 6px)

	.paneli
		&-content
			&__cards
				flex-wrap: nowrap
				overflow: auto
				width: calc(100% + 30px)
				padding: 0 15px
				margin-left: -15px
				margin-right: -15px
				gap: 12px
				&::-webkit-scrollbar
					display: none
				li
					width: 360px
					min-width: 360px
		&-card
			&__gallery
				&-main
					min-height: 300px

	.breadcrumbs
		padding: 20px 0
		@include flexbox
		flex-direction: column
		justify-content: flex-end
		&::after
			right: -200px

	.objects
		&-section
			&__grid
				margin-top: 24px
			&__item
				height: 240px
				width: 100% !important
		&-breadcrumbs
			max-height: 480px
			padding: 30px 0 !important
		&-about
			&__text
				margin-top: 24px
				gap: 12px
			&__info
				margin-top: 40px
				gap: 8px
				li
					width: 100%
					padding: 16px
					gap: 8px

	.videoreview
		background-size: cover
		background-position: right -140px center
		&::before
			height: 30px
		&-video
			margin-top: 24px
		&-head
			gap: 24px
			&__btns
				gap: 12px
				.btn
					width: 100%
					flex: initial

	.ceilings
		&-item
			&__preview
				padding: 40px 0 !important
				&-image
					height: 190px
			&__info
				padding: 40px 0 !important
				gap: 32px
			&__spec
				&-title
					margin-bottom: 16px
				&-list
					li
						span
							flex: initial
							width: 100%
			&__decor
				a
					&.ceilings-item__decor-more
						width: 42px
						height: 42px
				img
					width: 42px
					height: 42px
				span
					background: #f5f5f5
					position: absolute
					top: calc(100% + 4px)
					left: 50%
					transform: translateX(-50%)
					z-index: 10
					width: max-content
					padding: 4px
					font-size: var(--font-size-xxs)
					line-height: 16px
					opacity: 0
					pointer-events: none
					transition: var(--transition-ms)
					font-weight: 500
					color: var(--color-black) !important
		&-hero
			&-samples
				overflow: hidden
				img
					width: 220px
					right: -100px

	.about
		&-breadcrumbs
			padding: 60px 0 !important
		&-counter
			margin-top: 24px
		&-specialists
			&__tabs
				margin-top: 24px
				li
					// flex: initial
					min-width: 50%
			&__tab
				margin-top: 24px
				gap: 8px
			&__item
				width: calc((100% - (1 * 8px)) / 2)
				&-info
					padding: 16px
					gap: 8px
