@media (max-width: 974px)
	.container
		max-width: 768px

	.header
		&-top
			padding-left: 112px
			&__btn
				display: none
			&__nav
				gap: 12px
				padding: 0
				margin-left: auto
		&-logo
			position: absolute
			top: 15px
			left: 15px
			margin: 0
			z-index: 5
		&-bottom
			&__nav
				li
					a
						padding: 0 8px
						gap: 4px
						font-weight: 500
					&[data-category] a::after
						width: 10px
						height: 6px

	.promo
		&-item
			&__content
				max-width: 500px
				.btn
					padding: 0 30px
			&__background
				max-width: calc(120px + var(--pos-right) * -1)
				img
					max-height: 360px
					margin-left: -80px
					max-width: initial
		&-control
			width: calc(100% - 120px)

	.manufactured
		&-row
			margin-top: 32px
		&-col
			width: 100% !important
			&:nth-child(1)
				order: -1
				padding: 0
				.manufactured-total
					display: none
			&:nth-child(2)
				padding: 32px 0
				border: 0
				&::before,
				&::after
					display: none
		&-list
			gap: 12px
			width: 100% !important
			flex: initial !important
			max-width: 100% !important
		&-grid
			gap: 12px
			margin-top: 24px
		&-description
			margin-top: 16px
		&-decor
			margin-top: 32px
		&-total
			padding: 0
			&-mobile
				display: flex
				gap: 16px
				flex-direction: column
				text-align: center
			&__price
				align-items: center
				max-width: 100%
				flex: 1
			.btn
				max-width: 100%
				height: 64px
				flex: initial

	.certificates
		&-item
			width: calc(100% / 2 - 8px)
			&__image
				padding: 30px

	.objects
		&-item
			&__content
				width: 100%
			&__info
				padding: 0
			&__list
				flex-direction: row
				margin-top: 20px
				margin-bottom: 36px
				li
					width: calc(100% / 3 - 32px)
			&__gallery
				width: 100%
				min-height: 500px
				height: 500px
				grid-template-columns: repeat(6, 1fr)
				grid-template-rows: repeat(2, 1fr)
				a
					&:nth-child(1)
						grid-area: 1 / 1 / 2 / 3
					&:nth-child(2)
						grid-area: 1 / 3 / 2 / 5
					&:nth-child(3)
						grid-area: 1 / 5 / 2 / 7
					&:nth-child(4)
						grid-area: 2 / 1 / 3 / 4
					&:nth-child(5)
						grid-area: 2 / 4 / 3 / 7
		&-section
			&__grid
				gap: 12px
			&__item
				width: calc(100% / 2 - 6px) !important
				&-info
					padding: 24px
		&-others
			&-carousel
				width: 320px
				.splide__track
					overflow: inherit

	.get-samples
		padding-bottom: 20px
		&-content
			max-width: 100%
		&-form
			max-width: 100%
		&-image
			position: relative
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin-top: 40px
			&__bg
				position: absolute
				margin: 0
				transform: rotate(80deg)
				top: -200px
				span
					height: 1200px
			img
				position: relative
				top: 0
				transform: none
				right: 0
				margin: 0 auto
				width: 600px
				max-width: 100%

	.installation
		&-tab
			&__content
				width: 100%
				padding: 40px
			&__image
				width: 100%

	.comparison
		&-item
			width: 100%
			&__content
				padding-right: 0
				padding-bottom: 24px
				border-right: 0
				border-bottom: 1px solid rgba(255,255,255,.1)
			&__total
				width: 100%
				padding: 0
				padding-top: 24px
			&__list
				gap: 4px
				li::after
					display: none

	.colors
		&-grid
			grid-template-columns: repeat(2, 1fr)
		&-catalog
			padding: 200px 0 40px
			&-content
				max-width: 320px
				margin-left: 0
			&-book
				left: initial
				right: 16px
			&-bg
				left: initial
				right: 0
				transform: rotate(-21.5deg)
				&::before
					width: calc(220px + (var(--pos-right) * -1))
					left: -300px
				&::after
					width: calc(600px + (var(--pos-right) * -1))
					left: -300px
					background: #2B3339
			&-buttons
				margin-top: 32px
				max-width: 260px
				.btn
					flex: initial

	.showroom
		&-main
			max-width: 100%
		&-grid
			&__item
				width: calc(100% / 2 - 6px)
				height: 320px
	.scope
		&-item
			width: calc(100% / 2 - 8px) !important
			&__image
				height: 290px !important

	.warehouses
		&-content
			width: 100%
			padding-right: 0
			max-width: 100%
		&-map
			width: 100%
			padding: 0
			&::before
				display: none
			svg
				position: relative
				top: 0
				left: 0
				max-width: 100%
				height: auto
				margin: 40px 0
		&-group
			margin-top: 40px
			&__list
				li
					font-size: 14px

	.about
		&-list
			flex-direction: column
			gap: 0
			margin-top: 40px
			li
				width: 100%
				padding: 32px 0
				border-bottom: 1px solid rgba(255,255,255,.25)
				@include flexbox
				align-items: center
				b, p
					width: 50%
				&:last-child
					border-bottom: 0
		&-counter
			max-width: 100%
			gap: 16px
			li
				width: calc(100% / 2 - 8px)
				b
					font-size: 50px
					span
						font-size: 24px
				p
					margin-top: 12px
				&:last-child
					width: 100%
		&-gallery
			overflow: hidden
			&-arrows
				display: none
			&-carousel
				.splide__track
					overflow: inherit
		&-why
			&-item
				width: calc((100% - (1 * 12px)) / 2)
				overflow: hidden
				p
					padding: 0 16px 32px
				&__image
					background: var(--color-red)
					margin-bottom: 80px
					height: 240px
					&::before
						top: 16px
						left: 16px
						width: 36px
						height: 36px
						line-height: 36px
						font-size: 20px
					img
						width: 320px
						max-width: initial
						left: 50%
						transform: translateX(-50%)
		&-text
			&-image
				width: 100%
				height: 400px
			&-content
				width: 100%
				padding: 24px
				gap: 12px
		&-mission
			padding: 0
			&-content
				max-width: 100%
				padding: 32px
			&-list
				max-width: 100%
				li
					@include flexbox
					align-items: flex-start
					gap: 24px
					img
						margin: 0
					p
						flex: 1
			&-image
				display: none
		&-clients
			overflow: hidden
			&-arrows
				display: none
			&-carousel
				.splide__track
					overflow: inherit
			&-item
				gap: 24px
				padding: 24px
				&__card
					max-width: 100%
					height: 420px
				&__content
					max-width: 100%
					gap: 16px
		&-optimize
			.section-title
				max-width: 560px
			&-graph
				&__item
					p
						margin-top: 12px
				&__pin
					width: 36px
					top: 182px
					left: -18px
				&__line
					top: 100px
				&__truck
					width: 36px
					top: 144px
					right: -18px

	.specialists
		padding-bottom: 0
		&-content
			width: 100%
			max-width: 100%
		&-form
			max-width: 100%
		&-grid
			width: 100%
			padding: 40px 0
			margin-top: 80px
			&__bg
				top: 0
				bottom: 0
				left: var(--pos-right)
			&__list
				grid-template-columns: repeat(4, 1fr)
		&-item
			flex-direction: column
			align-items: flex-start
			&__photo
				width: 100%
		&-list
			margin-top: 24px
			li
				padding: 8px 0

	.footer
		&-sidebar
			width: 100%
			max-width: 100%
		&-content
			width: 100%
			max-width: 100%
			margin-top: 40px

	.laspan
		&-list
			gap: 12px
			margin-top: 32px
			li
				width: 100%
				padding: 20px
				padding-left: 76px
				&::before
					top: 20px
					left: 20px
					width: 36px
					height: 36px
					line-height: 36px

	.interior
		&-content
			max-width: 480px
			&::before
				right: -120px

	.products
		&-item
			width: calc((100% - (1 * 12px)) / 2)
			height: 280px
			padding: 24px
			&__image
				width: 200px
				right: 0px
			&__background
				background-position: top -60px center

	.services
		&-item
			&__description
				max-width: 240px
		&-slider
			overflow: auto
			&::-webkit-scrollbar
				display: none

	.estimate
		padding-bottom: 0
		.container
			@include flexbox
			flex-direction: column
			align-items: flex-start
		&-content
			max-width: 100%
			width: 100%
		&-image
			position: relative
			top: 0
			left: 0
			right: 0
			bottom: 0
			transform: none
			margin: 60px auto -80px
			max-width: 620px
			width: 84%
			order: 1

	.doors
		&-detail
			padding: 12px
			&-left,
			&-right
				width: 100%
			&-right
				padding: 30px 0 0
		&-reliable
			&-left
				max-width: 100%
				&__col
					width: 100%
					flex: initial
					&:nth-child(1)
						width: calc((100% - (2 * 24px)) / 3)
					&:nth-child(2)
						width: calc(100% - ((100% - (2 * 24px)) / 3) - 24px)
						flex-direction: row
						.doors-reliable-left__item
							width: calc(100% / 2 - 12px)
							height: 100%
				&__item
					img
						max-height: 290px
						height: auto
						flex: 1
					b
						margin-top: 16px
			&-right
				max-width: 100%
				background: var(--color-gray)
				justify-content: center
				padding: 15px 0
				margin-top: 24px

	.profile
		&-promo
			height: auto
			&__items
				flex: initial
				order: 2
				width: 100%
				padding: 0
				padding-bottom: 40px
			&__item
				width: calc((100% - (3 * 12px)) / 4)
				height: 200px
		&-item
			min-height: auto
			border: 1px solid rgba(0,0,0,.1)
			margin-bottom: 80px
			&:last-child
				margin-bottom: 0
			&__image,
			&__content
				width: 100%
			&__image
				order: -1 !important
				height: 345px
				img
					height: 215px
			&__pics
				bottom: initial
				left: 0 !important
				right: initial !important
				top: 171px
				padding: 12px
				max-width: 100%
				img
					min-width: 0%
					width: 190px
					flex: initial
					height: 150px
		&-type
			&-right
				width: 100%
			&-group
				.profile-type-item
					width: calc((100% - (3 * 8px)) / 4)
			&-free
				margin-top: 40px
				@include flexbox
				align-items: flex-start
				justify-content: space-between
				.btn
					flex: 1
					max-width: 320px
					margin: 0

	.paneli
		&-content
			&__top
				.container
					flex-wrap: nowrap
					overflow: auto
					gap: 12px
					white-space: nowrap
					max-width: 100% !important
					padding: 0 calc(var(--pos-right) * -1)
					&::-webkit-scrollbar
						display: none
				&-tabs
					flex-wrap: nowrap
		&-card
			padding: 40px 0
			&__grid
				gap: 32px
			&__detail
				max-width: 100%
				width: 100%
			&__gallery
				width: 100%
				&-main
					min-height: 420px

	.breadcrumbs
		&::after
			right: -280px

	.videoreview
		&-head
			flex-direction: column
			align-items: flex-start
			gap: 32px
			&__btns
				width: 100%
				.btn
					flex: 1
					padding: 0

	.colorika
		&-bullets
			li
				padding: 24px
				height: 280px

	.ceilings
		&-item
			&__preview,
			&__info
				width: 100%
			&__preview
				order: -1 !important
				padding: 60px 0 !important
				&::before
					left: var(--pos-right) !important
					right: var(--pos-right) !important
			&__info
				padding: 60px 0 !important
		&-panels
			&-item
				width: 100%
		&-economical
			&-image,
			&-content
				width: 100%
				min-height: 480px
			&-content
				padding: 40px 0
				border: 0
				order: -1
			&-list
				li
					width: calc((100% - (1 * 8px)) / 2)
		&-hero
			padding: 60px 0 30px
			&::after
				left: var(--pos-right)
				width: calc(100% + (var(--pos-right) * -2))
				top: initial
				height: 180px
			&-content
				max-width: 100%
				flex: initial
			&-samples
				margin-top: 24px
				max-width: 100%
			&-carousel
				max-width: 100%
				width: calc(100% - 60px)
				margin: 0 30px
				&__item
					img
						height: 210px

	.benefits
		&-item
			width: calc((100% - (1 * 12px)) / 2)

	.decor
		&-section
			&-item
				height: 280px
				p
					padding: 16px
				span
					padding: 16px
			&-banner
				width: calc((100% - (2 * 12px)) / 3)
				padding: 16px
				gap: 8px
				&__title
					font-size: 18px
				&__image
					&-01
						width: 160px
					&-02
						width: 144px
		&-design
			&-top::before
				right: var(--pos-right)
			&-image
				top: 20px
				left: 540px
				width: 1020px
				transform: rotate(18deg)
