<div class="laminate-item">
	<div class="laminate-item__pic">
		<div class="laminate-item__pic-panel">
			<div class="laminate-item__pic-front" style="background-color: #A92229;"></div>
			<div class="laminate-item__pic-side"></div>
		</div>
	</div>
	<div class="laminate-item__info">
		<div class="laminate-item__title">Панель Laspan ЛГКЛ RAL 6019</div>
		<ul class="laminate-item__spec">
			<li>
				<span>Размер:</span>
				<p>3000x1200×12,5 мм</p>
			</li>
			<li>
				<span>Покрытие:</span>
				<p>PVC</p>
			</li>
			<li>
				<span>Основа:</span>
				<p>гипсокартонный лист</p>
			</li>
			<li>
				<span>Класс ПБ:</span>
				<p>КМ1</p>
			</li>
		</ul>
		<div class="laminate-item__bottom">
			<div class="laminate-item__total">
				<div class="laminate-item__price">390 руб. / м<sup>2</sup></div>
				<div class="laminate-item__status in-stock">В наличии</div>
			</div>
			<a href="#" class="btn btn-xs btn-yellow">Заказать</a>
		</div>
	</div>
</div>