.about
	background: var(--color-black)
	color: var(--color-white)
	position: relative
	&-bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover
		object-position: center
		opacity: 0.5
	.section-title
		max-width: 820px
		span
			color: var(--color-yellow)
	&-list
		margin-top: 180px
		@include flexbox
		align-items: flex-start
		gap: 72px
		li
			b
				font-size: 120px
				line-height: 1.2
				font-weight: 500
				span
					font-size: var(--font-size-md)
					line-height: 1.2
					font-weight: 600
					display: inline-block
					margin-left: 16px
			p
				margin-top: 12px
				line-height: 1.3
				font-weight: 500
	&-breadcrumbs
		position: relative
		background: #000
		height: 100vh
		max-height: 900px
		@include flexbox
		flex-direction: column
		align-items: flex-start
		justify-content: flex-end
		padding: 120px 0 !important
		&::after
			display: none
		.breadcrumbs-title
			max-width: 1100px
			span
				color: var(--color-yellow)
	&-counter
		margin-top: 44px
		@include flexbox
		gap: 32px
		max-width: 1500px
		li
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1)
			background: #fff
			padding: 32px 36px
			b
				font-weight: 700
				font-size: 92px
				span
					font-size: var(--font-size-lg)
			p
				margin-top: 16px
				opacity: 0.8
				font-weight: 500
	&-specialists
		&__tabs
			margin-top: 44px
			@include flexbox
			border-bottom: 1px solid rgba(0,0,0,.17)
			li
				background: #fff
				flex: 1
				padding: 20px
				line-height: 1
				text-align: center
				font-weight: 600
				cursor: pointer
				transition: var(--transition-ms)
				@include flexbox
				align-items: center
				justify-content: center
				&:hover, &.active
					background: var(--color-red)
					color: var(--color-white)
		&__tab
			display: none
			gap: 12px
			margin-top: 44px
			&.active
				@include flexbox
		&__item
			background: #fff
			width: calc((100% - (3 * 12px)) / 4)
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05)
			&-photo
				width: 100%
				aspect-ratio: 1
				object-fit: cover
				object-position: center
			&-info
				padding: 24px
				@include flexbox
				flex-direction: column
				align-items: flex-start
				gap: 12px
				font-weight: 500
			&-name
				font-weight: 700
				font-size: var(--font-size-md)
			&-spec
				opacity: 0.6
			&-link
				color: var(--color-red)
				transition: var(--transition-ms)
				&:hover
					color: var(--color-red-hover)
			&-contacts
				@include flexbox
				align-items: center
				gap: 8px
				a
					color: var(--color-red)
					transition: var(--transition-ms)
					&:hover
						color: var(--color-red-hover)
				&-wa
					display: block
					width: 24px
					height: 24px
					background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9 20.6C8.4 21.5 10.2 22 12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 13.8 2.5 15.5 3.3 17L2.29363 20.8707C2.16381 21.3699 2.62595 21.8211 3.12199 21.6794L6.9 20.6Z' stroke='%23E31E24' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.74747 8.28793C8.94307 8.0576 9.17373 8 9.3164 8H9.32593C9.46453 8 9.6024 8 9.72353 8.0054C9.8756 8.01187 10.0443 8.02073 10.2041 8.40307C10.3937 8.85827 10.8085 9.99387 10.8614 10.109C10.9144 10.2242 10.9507 10.3591 10.8798 10.5121C10.8089 10.6651 10.7721 10.7609 10.6662 10.8954C10.5594 11.0299 10.4432 11.1953 10.3475 11.2985C10.2407 11.4127 10.1285 11.5387 10.2524 11.7681C10.3771 11.9985 10.8049 12.7499 11.4387 13.3589C12.2537 14.1421 12.9403 14.3855 13.1539 14.5016C13.3675 14.6168 13.4913 14.5961 13.6161 14.4422C13.7408 14.2893 14.1483 13.7728 14.2901 13.5425C14.4319 13.3121 14.575 13.3508 14.7707 13.4273C14.9663 13.5038 16.0145 14.0589 16.2272 14.1741C16.4408 14.2893 16.583 14.3464 16.636 14.4422C16.6889 14.5371 16.6885 14.9992 16.5109 15.5363C16.3331 16.0735 15.4622 16.5909 15.0709 16.6286C14.6797 16.6673 14.314 16.8184 12.5132 16.0528C10.3459 15.1314 8.97687 12.7363 8.87093 12.5833L8.86887 12.5803C8.75467 12.4158 8 11.3287 8 10.2044C8 9.073 8.55187 8.51733 8.74747 8.28793Z' fill='%23E31E24'/%3E%3C/svg%3E%0A") no-repeat center / cover
				&-tg
					display: block
					width: 24px
					height: 24px
					background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.4602 3.00155C20.1893 3.01326 19.937 3.09067 19.7148 3.17878C19.5067 3.26092 18.7115 3.59551 17.4591 4.12246C16.2057 4.64986 14.5459 5.34901 12.7754 6.09603C9.23431 7.59008 5.2532 9.27182 3.21408 10.1326C3.1374 10.165 2.86985 10.2488 2.58588 10.4663C2.30191 10.6838 2 11.1345 2 11.6367C2 12.0417 2.1967 12.444 2.44429 12.6842C2.69189 12.9244 2.95387 13.043 3.17827 13.1329C3.9925 13.4588 6.51776 14.4728 6.99466 14.6641C7.16249 15.1685 8.0765 17.9118 8.28843 18.5842C8.42821 19.0278 8.56118 19.3057 8.73436 19.5263C8.82095 19.6365 8.92163 19.7332 9.04356 19.8089C9.09238 19.8391 9.14578 19.8625 9.1998 19.8839L9.20306 19.8855C9.21556 19.8904 9.22625 19.8987 9.23889 19.9031C9.26271 19.9113 9.27861 19.9122 9.31048 19.919C9.43741 19.9593 9.5656 19.9845 9.67996 19.9845C10.1676 19.9845 10.466 19.721 10.466 19.721L10.4839 19.7083L12.9918 17.5798L16.0335 20.4029C16.0763 20.4623 16.4757 21 17.3566 21C17.8797 21 18.2946 20.7425 18.5609 20.4683C18.8273 20.1941 18.9932 19.906 19.0638 19.5438V19.5422C19.1298 19.1999 21.933 5.0805 21.933 5.0805L21.9281 5.09966C22.0102 4.73217 22.0317 4.38993 21.9412 4.0522C21.8506 3.71447 21.612 3.39111 21.3162 3.2171C21.0204 3.04314 20.731 2.98982 20.4602 3.00155ZM20.3039 4.71006C20.2999 4.73392 20.3069 4.72192 20.3007 4.74998L20.299 4.75955L20.2974 4.76914C20.2974 4.76914 17.5289 18.708 17.4266 19.2388C17.4341 19.1987 17.3998 19.2784 17.3647 19.3266C17.3151 19.2931 17.2134 19.25 17.2134 19.25L17.1971 19.2324L13.0422 15.3763L10.1047 17.8672L10.9787 14.4342C10.9787 14.4342 16.4416 8.88594 16.7707 8.56302C17.0357 8.30468 17.0913 8.21461 17.0913 8.1255C17.0913 8.00614 17.0279 7.91948 16.8863 7.91948C16.7588 7.91948 16.5874 8.04109 16.4957 8.09832C15.3016 8.8452 10.0591 11.843 7.70911 13.184C7.33567 13.034 4.74113 11.992 3.8618 11.6399C3.86846 11.6371 3.86627 11.6381 3.8732 11.6352C5.91285 10.7742 9.8923 9.09237 13.4328 7.5986C15.2031 6.85165 16.8641 6.15198 18.1167 5.62499C19.3498 5.10613 20.2067 4.74903 20.3039 4.71006Z' fill='%23E31E24'/%3E%3C/svg%3E%0A") no-repeat center / cover
	&-gallery
		&-head
			@include flexbox
			align-items: center
			justify-content: space-between
		&-carousel
			margin-top: 44px
			a
				display: block
				position: relative
				overflow: hidden
				img
					width: 100%
					aspect-ratio: 1
					object-fit: cover
					object-position: center
					transition: var(--transition-ms)
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					z-index: 5
					background: rgba(0,0,0,.3) url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1001 20.475H24.8501' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.4751 24.85V16.1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.125 36.75C29.3067 36.75 36.75 29.3067 36.75 20.125C36.75 10.9433 29.3067 3.5 20.125 3.5C10.9433 3.5 3.5 10.9433 3.5 20.125C3.5 29.3067 10.9433 36.75 20.125 36.75Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.5 38.5L35 35' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center
					opacity: 0
					transition: var(--transition-ms)
				&:hover
					img
						transform: scale(1.06)
					&::before
						opacity: 1
		&-arrows
			position: relative
			height: 94px
			@include flexbox
			align-items: center
			gap: 20px
			.splide
				&__arrow
					width: 94px
					height: 94px
					border-radius: 0
					background: #fff
					opacity: 1 !important
					transition: var(--transition-ms)
					color: var(--color-black)
					position: relative
					&--next
						right: 0
						background: var(--color-red)
						color: var(--color-white)
						&:hover
							background: var(--color-red-hover) !important
					&--prev
						left: 0
						background: rgba(0,0,0,.05)
						&:hover
							background: rgba(0,0,0,.1) !important
							color: var(--color-black) !important
					&:hover
						background: var(--color-red)
						color: var(--color-white)
					svg
						display: block
						width: 10px
						height: 18px
						transform: none
		&-counter
			@include flexbox
			align-items: center
			gap: 12px
			font-size: var(--font-size-sm)
			font-weight: 700
			letter-spacing: 0.05em
			line-height: 1
			&__current,
			&__total
				width: 24px
				text-align: center
			&__progress
				height: 2px
				width: 70px
				background: rgba(0,0,0,.2)
				span
					height: 100%
					background: var(--color-red)
					display: block
					transition: var(--transition-ms)
		&-grid
			margin-top: 44px
			display: grid
			grid-template-columns: repeat(4, 1fr)
			gap: 12px
			a
				display: block
				position: relative
				overflow: hidden
				img
					width: 100%
					aspect-ratio: 1
					object-fit: cover
					object-position: center
					transition: var(--transition-ms)
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					z-index: 5
					background: rgba(0,0,0,.3) url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1001 20.475H24.8501' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.4751 24.85V16.1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.125 36.75C29.3067 36.75 36.75 29.3067 36.75 20.125C36.75 10.9433 29.3067 3.5 20.125 3.5C10.9433 3.5 3.5 10.9433 3.5 20.125C3.5 29.3067 10.9433 36.75 20.125 36.75Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.5 38.5L35 35' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center
					opacity: 0
					transition: var(--transition-ms)
				&:hover
					img
						transform: scale(1.06)
					&::before
						opacity: 1
	&-why
		@include flexbox
		gap: 24px
		margin-top: 44px
		counter-reset: whyCounter
		&-item
			width: calc((100% - (3 * 24px)) / 4)
			box-shadow: 0px 29.1587px 33.6447px -17.9438px rgba(90, 90, 90, 0.13)
			border: 2px solid #EFEFEF
			counter-increment: whyCounter
			p
				font-size: var(--font-size-md)
				font-weight: 500
				line-height: 1.3
				padding: 0 32px 44px
				b
					font-weight: 700
			&__image
				background: var(--color-red)
				margin-bottom: 100px
				height: 300px
				width: 100%
				position: relative
				&::before
					content: counter(whyCounter, decimal-leading-zero)
					position: absolute
					top: 32px
					left: 32px
					width: 56px
					height: 56px
					line-height: 56px
					text-align: center
					font-weight: 500
					font-size: 28px
					border: 1px solid rgba(255,255,255,.20)
					color: #fff
				img
					position: absolute
					top: 0
					left: 0
	&-text
		background: #FFFFFF
		border: 2px solid #F0F0F0
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05)
		@include flexbox
		&-image
			width: 680px
			min-height: 680px
			position: relative
			&__bg
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center
		&-wrapper
			width: calc(100% - 680px)
			padding: 44px
			@include flexbox
			align-items: center
			justify-content: center
		&-content
			line-height: 1.4
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 24px
			font-weight: 500
			max-width: 640px
			width: 100%
		&-contacts
			li
				margin-top: 8px
				&:first-child
					margin-top: 0
				a
					color: var(--color-red)
					font-weight: 700
					transition: var(--transition-ms)
					&:hover
						color: var(--color-red-hover)
					@include flexbox
					align-items: center
					gap: 8px
	&-mission
		background: var(--color-dark)
		color: var(--color-white)
		padding: 64px
		position: relative
		overflow: hidden
		&-content
			max-width: 560px
		&-list
			li
				margin-top: 44px
				img
					margin-bottom: 24px
				p
					line-height: 1.6
					font-weight: 500
					b
						font-weight: 700
		&-image
			position: absolute
			top: 0
			bottom: 0
			height: 100%
			max-width: initial
			left: 720px
	&-clients
		&-head
			@include flexbox
			align-items: center
			justify-content: space-between
		&-carousel
			margin-top: 44px
		&-arrows
			position: relative
			height: 94px
			@include flexbox
			align-items: center
			gap: 20px
			.splide
				&__arrow
					width: 94px
					height: 94px
					border-radius: 0
					background: #fff
					opacity: 1 !important
					transition: var(--transition-ms)
					color: var(--color-black)
					position: relative
					&--next
						right: 0
						background: var(--color-red)
						color: var(--color-white)
						&:hover
							background: var(--color-red-hover) !important
					&--prev
						left: 0
						background: rgba(0,0,0,.05)
						&:hover
							background: rgba(0,0,0,.1) !important
							color: var(--color-black) !important
					&:hover
						background: var(--color-red)
						color: var(--color-white)
					svg
						display: block
						width: 10px
						height: 18px
						transform: none
		&-counter
			@include flexbox
			align-items: center
			gap: 12px
			font-size: var(--font-size-sm)
			font-weight: 700
			letter-spacing: 0.05em
			line-height: 1
			&__current,
			&__total
				width: 24px
				text-align: center
			&__progress
				height: 2px
				width: 70px
				background: rgba(0,0,0,.2)
				span
					height: 100%
					background: var(--color-red)
					display: block
					transition: var(--transition-ms)
		&-item
			background: var(--color-gray)
			padding: 44px
			padding-right: 0
			@include flexbox
			justify-content: space-between
			&__content
				@include flexbox
				flex-direction: column
				align-items: flex-start
				flex: 1
				max-width: 470px
				gap: 24px
			&__title
				font-size: 34px
				line-height: 1.2
				font-weight: 600
			&__card
				height: 600px
				width: 1060px
				max-width: calc(100% - 470px - 44px)
				position: relative
				z-index: 5
				.objects-section__item
					width: 100% !important
					height: 100% !important
			&__author
				margin-top: auto
				@include flexbox
				align-items: center
				gap: 16px
				img
					width: 72px
					height: 72px
					border-radius: 100%
					object-fit: cover
					object-position: center
				span
					flex: 1
					b
						font-weight: 700
					p
						font-weight: 500
						margin-top: 8px
						font-size: var(--font-size-sm)
	&-optimize
		.section-title
			max-width: 720px
			span
				color: var(--color-red)
		&-graph
			margin-top: 44px
			@include flexbox
			align-items: flex-start
			position: relative
			&__item
				flex: 1
				b
					font-size: var(--font-size-lg)
					font-weight: 700
				p
					opacity: 0.8
					margin-top: 16px
					font-weight: 500
					line-height: 1.6
					font-size: var(--font-size-sm)
				&:nth-of-type(2n)
					margin-top: 220px
			&__pin
				position: absolute
				top: 216px
				left: 8px
			&__line
				position: absolute
				left: 0
				right: 0
				margin: 0 auto
				top: 50px
			&__truck
				position: absolute
				top: 134px
				right: 8px
