.colors
	.section-head
		max-width: 620px
	&-head
		@include flexbox
		align-items: flex-end
		justify-content: space-between
		.btn
			max-width: 550px
	&-grid
		display: grid
		grid-template-columns: repeat(4, 1fr)
		gap: 24px
		margin-top: 86px
		& + .btn
			display: none
	&-item
		background: #fff
		padding: 8px 24px 24px
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05)
		position: relative
		overflow: hidden
		transition: var(--transition-ms)
		&__title
			@include flexbox
			align-items: center
			gap: 12px
			height: 68px
			border-bottom: 1px solid var(--color-border)
			line-height: 16px
			font-weight: 700
			margin-bottom: 24px
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
			img
				width: 28px
				height: 28px
				object-fit: cover
				object-position: center
				border-radius: 100%
		&__images
			display: grid
			grid-template-columns: repeat(4, 1fr)
			gap: 8px
			img
				width: 100%
				height: 140px
				object-fit: cover
				object-position: center
		&:hover
			box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12)
	&-mini
		&-grid
			display: grid
			grid-template-columns: repeat(6, 1fr)
			gap: 24px
			margin-top: 44px
		&-item
			box-shadow: 0 10px 30px rgba(0, 0, 0, .05)
			background: #fff
			padding: 24px
			transition: var(--transition-ms)
			img
				width: 120px
				height: 120px
				object-fit: cover
				object-position: center
				margin: 0 auto
				border-radius: 100%
			span
				display: block
				margin-top: 24px
				text-align: center
				font-weight: 700
			&:hover
				box-shadow: 0 10px 30px rgba(0, 0, 0, .1)
	&-catalog
		background: url(../img/colors-catalog-bg.jpg) no-repeat center / cover
		color: var(--color-white)
		overflow: hidden
		&-wrapper
			position: relative
			& > .container
				height: 100%
				position: absolute
				top: 0
				right: 0
				left: 0
				bottom: 0
				z-index: 6
				pointer-events: none
		&-bg
			position: absolute
			top: -375px
			bottom: -375px
			left: -70px
			transform: rotate(10deg)
			&::before
				content: ''
				position: absolute
				top: 0
				bottom: 0
				left: var(--pos-right)
				width: calc(360px + (var(--pos-right) * -1) + 70px)
				background: var(--color-red)
				z-index: 1
			&::after
				content: ''
				position: absolute
				top: 0
				bottom: 0
				left: var(--pos-right)
				width: calc(600px + (var(--pos-right) * -1) + 70px)
				background: rgba(255,255,255,.2)
		&-book
			position: absolute
			top: 50%
			left: 40px
			transform: translateY(-50%)
			// margin-top: -125px
			max-width: initial
		&-content
			margin-left: auto
			max-width: 920px
			width: 100%
		&-buttons
			@include flexbox
			align-items: flex-start
			gap: 20px
			max-width: 780px
			margin-top: 60px
			.btn
				flex: 1
