.decor
	&-section
		&-grid
			@include flexbox
			margin-top: 44px
			gap: 24px
		&-item
			width: calc((100% - (3 * 24px)) / 4)
			height: 470px
			display: block
			position: relative
			overflow: hidden
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0000004d 80%)
				z-index: 1
			img
				width: 100%
				height: 100%
				object-fit: cover
				object-position: center
			p
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0000004d 80%)
				padding: 32px
				color: var(--color-white)
				font-size: var(--font-size-md)
				font-weight: 700
				position: absolute
				bottom: 0
				left: 0
				right: 0
				z-index: 3
			span
				position: absolute
				z-index: 5
				top: 0
				left: 0
				right: 0
				bottom: 0
				@include flexbox
				align-items: center
				justify-content: center
				text-align: center
				font-weight: 500
				line-height: 1.3
				background: rgba(255,255,255,.8)
				padding: 32px
				opacity: 0
				transition: var(--transition-ms)
			&:hover
				span
					opacity: 1
			&:nth-of-type(1)
				order: -100
			&:nth-of-type(2)
				order: -90
			&:nth-of-type(3)
				order: -80
			&:nth-of-type(4)
				order: -70
			&:nth-of-type(5)
				order: -60
			&:nth-of-type(6)
				order: -50
		&-banner
			width: calc((100% - (3 * 24px)) / 4)
			display: block
			position: relative
			overflow: hidden
			padding: 24px
			background: var(--color-dark) url(../img/decor-banner-bg.jpg) no-repeat center / cover
			color: var(--color-white)
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 12px
			.btn
				margin-top: auto
			&__label
				font-weight: 600
				opacity: 0.7
				line-height: 1.3
			&__title
				font-size: 28px
				font-weight: 700
				line-height: 1.3
				span
					color: var(--color-yellow)
			&__image
				&-01
					margin: auto auto -40px
					& + .btn
						margin: 0
				&-02
					margin: auto
			&:nth-of-type(1)
				order: -75
			&:nth-of-type(2)
				order: -45
	&-design
		background: var(--color-dark)
		color: var(--color-white)
		overflow: hidden
		.section-title
			span
				color: var(--color-yellow)
		&-top
			padding: 60px 0
			position: relative
			&::before
				content: ''
				position: absolute
				top: 0
				bottom: 0
				left: var(--pos-right)
				right: 0
				background: var(--color-red)
			.section-head
				max-width: 540px
				position: relative
				z-index: 5
			.section-description
				max-width: 400px
				position: relative
				z-index: 5
		&-bottom
			padding: 60px 0
			max-width: 540px
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 44px
		&-image
			position: absolute
			top: -60px
			left: 1025px
			max-width: initial
			background: var(--color-dark)
			padding: 24px
			border-left: 1px solid rgba(255,255,255,.15)
			border-right: 1px solid rgba(255,255,255,.15)
			transform: rotate(21deg)
	&-categories
		display: flex
		padding: 0 calc(var(--pos-right) * -1)
		margin: 0 var(--pos-right)
		overflow: auto
		white-space: nowrap
		align-items: flex-start
		li
			a
				display: block
				line-height: 1
				padding: 26px
				font-weight: 600
				transition: var(--transition-ms)
				&:hover
					background: var(--color-dark)
					color: var(--color-white)
			&.active a
				background: var(--color-dark)
				color: var(--color-white)
		&::-webkit-scrollbar
			display: none
		&-wrapper
			border-bottom: 1px solid var(--color-border)
			position: relative
			overflow: hidden
			&::before
				content: ''
				width: 15px
				height: 100%
				position: absolute
				top: 0
				left: 0
				bottom: 0
				background: linear-gradient(90deg, white, transparent)
				z-index: 10
				pointer-events: none
			&::after
				content: ''
				width: 15px
				height: 100%
				position: absolute
				top: 0
				right: 0
				bottom: 0
				background: linear-gradient(-90deg, white, transparent)
				z-index: 10
				pointer-events: none
