.objects
	&-item
		@include flexbox
		gap: 10px
		&__content
			width: 420px
			@include flexbox
			flex-direction: column
			align-items: flex-start
		&__info
			width: 100%
			padding: 30px 40px 40px
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 24px
			flex: 1
		&__title
			font-size: 24px
			line-height: 1.3
			letter-spacing: -0.03em
			font-weight: 700
		&__description
			font-size: 14px
			line-height: 1.6
			letter-spacing: -0.03em
			font-weight: 500
			opacity: 0.6
		&__list
			@include flexbox
			flex-direction: column
			align-items: flex-start
			gap: 16px
			margin-top: auto
			li
				span
					font-size: 16px
					line-height: 1
					letter-spacing: -0.03em
					opacity: 0.6
					font-weight: 500
				p
					margin-top: 6px
					font-weight: 600
					line-height: 1
					letter-spacing: -0.03em
		&__gallery
			display: grid
			grid-template-columns: repeat(4, 1fr)
			grid-template-rows: repeat(4, 1fr)
			gap: 10px
			width: calc(100% - 420px - 10px)
			min-height: 725px
			height: auto
			a
				display: block
				position: relative
				overflow: hidden
				&:nth-child(1)
					grid-area: 1 / 1 / 3 / 3
				&:nth-child(2)
					grid-area: 3 / 1 / 5 / 2
				&:nth-child(3)
					grid-area: 3 / 2 / 4 / 3
				&:nth-child(4)
					grid-area: 4 / 2 / 5 / 3
				&:nth-child(5)
					grid-area: 1 / 3 / 5 / 5
				img
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					object-fit: cover
					object-position: center
					transition: var(--transition-ms)
				&::before
					content: ''
					position: absolute
					top: 0
					left: 0
					right: 0
					bottom: 0
					z-index: 5
					background: rgba(0,0,0,.3) url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1001 20.475H24.8501' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.4751 24.85V16.1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.125 36.75C29.3067 36.75 36.75 29.3067 36.75 20.125C36.75 10.9433 29.3067 3.5 20.125 3.5C10.9433 3.5 3.5 10.9433 3.5 20.125C3.5 29.3067 10.9433 36.75 20.125 36.75Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M38.5 38.5L35 35' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center
					opacity: 0
					transition: var(--transition-ms)
				&:hover
					img
						transform: scale(1.06)
					&::before
						opacity: 1
	&-carousel
		&__thumbs
			margin-bottom: 50px
			@include flexbox
			align-items: flex-start
			.splide
				&__track
					flex: 1
				&__arrows
					position: relative
					height: 95px
					width: 188px
					border-bottom: 1px solid rgba(0,0,0,.17)
				&__arrow
					width: 94px
					height: 94px
					border-radius: 0
					background: #fff
					opacity: 1 !important
					transition: var(--transition-ms)
					color: var(--color-black)
					&--next
						right: 0
						background: var(--color-red)
						color: var(--color-white)
						&:hover
							background: var(--color-red-hover) !important
					&:hover
						background: var(--color-red)
						color: var(--color-white)
					&--prev
						left: 0
						background: #F1F1F1
						&:hover
							background: #e4e4e4
							color: var(--color-black)
					svg
						display: block
						width: 10px
						height: 18px
						transform: none
				&__slide
					transition: var(--transition-ms)
					span
						@include flexbox
						align-items: center
						line-height: 1
						letter-spacing: -0.03em
						font-weight: 600
						height: 94px
						padding: 0 20px
						transition: var(--transition-ms)
				&__track--nav > .splide__list > .splide__slide
					border: 0
					border-bottom: 1px solid rgba(0,0,0,.17)
					&.is-active
						border: 0
						border-bottom: 1px solid var(--color-red)
						span
							color: var(--color-red)
