.sale
	&-main
		background: #ec1922 url(../img/sale-bg.jpg) no-repeat center / cover
		color: var(--color-white)
		height: calc(100vh - 111px)
		overflow: hidden
		.container
			height: 100%
			@include flexbox
			flex-direction: column
			align-items: center
		.btn
			@include flexbox
			align-items: center
			gap: 20px
			max-width: 704px
			position: relative
			z-index: 5
			&::after
				content: ''
				display: block
				width: 34px
				height: 21px
				background: url("data:image/svg+xml,%3Csvg width='34' height='21' viewBox='0 0 34 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.601051' y='0.601051' width='32.7979' height='19.7979' rx='9.89895' stroke='black' stroke-width='1.2021'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.645 14.821L21.8084 10.9321C22.0639 10.6935 22.0639 10.3065 21.8084 10.0679L17.645 6.17898C17.3896 5.94034 16.9753 5.94034 16.7199 6.17898C16.4644 6.41763 16.4644 6.80454 16.7199 7.04319L19.7664 9.88892L12 9.88892L12 11.1111L19.7664 11.1111L16.7199 13.9568C16.4644 14.1955 16.4644 14.5824 16.7199 14.821C16.9753 15.0597 17.3896 15.0597 17.645 14.821Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center
	&-title
		position: relative
		height: 340px
		@include flexbox
		align-items: center
		justify-content: center
		text-align: center
		width: 100%
		transform: rotate(-8deg)
		margin-top: 90px
		span
			position: relative
			z-index: 5
			font-family: 'Bebas Neue'
			font-size: 214px
			letter-spacing: 0.02em
			transform: skewX(-10deg)
		&::before
			content: ''
			position: absolute
			top: 0
			left: calc(var(--pos-right) * 3)
			right: calc(var(--pos-right) * 3)
			bottom: 0
			background: url(../img/sale-title.jpg) repeat-x center / 60px
	&-price
		margin-top: auto
		@include flexbox
		align-items: flex-end
		gap: 40px
		margin-bottom: 30px
		position: relative
		z-index: 5
		p
			max-width: 340px
			font-size: 16px
			font-weight: 600
			line-height: 1.2
			letter-spacing: -0.03em
			padding-bottom: 2px
			b
				font-family: 'Bebas Neue'
				font-size: 44px
				line-height: 1.4
				display: block
				font-weight: 400
		span
			font-family: 'Bebas Neue'
			font-size: 116px
			line-height: 1
			letter-spacing: -0.03em
	&-disclaimer
		text-align: center
		text-transform: uppercase
		margin: 50px 0 30px
		font-size: 14px
		font-weight: 500
		line-height: 1.6
		opacity: 0.7
		position: relative
		z-index: 5
	&-decor-1
		position: absolute
		top: -120px
		left: -580px
	&-decor-2
		position: absolute
		bottom: -100px
		right: -380px
