<section class="section section-border objects">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Фото объектов</h2>
		</div>
		<div class="objects-carousel">
			<div class="objects-carousel__thumbs splide">
				<div class="splide__track">
					<ul class="splide__list">
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
						<li class="splide__slide"><span>Бизнес-центр на Павелецкой</span></li>
					</ul>
				</div>
				<div class="splide__arrows">
					<button class="splide__arrow splide__arrow--prev">
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.88224 4.25565e-07L8 1.13697L2.23553 7.00048L8 12.863L6.88224 14L3.05965e-07 7.00048L6.88224 4.25565e-07Z" fill="currentColor"/>
						</svg>
					</button>
					<button class="splide__arrow splide__arrow--next">
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.11776 14L-2.57602e-07 12.863L5.76447 6.99952L2.5496e-07 1.13697L1.11776 -3.00821e-07L8 6.99952L1.11776 14Z" fill="currentColor"/>
						</svg>
					</button>
				</div>
			</div>
			<div class="objects-carousel__main splide">
				<div class="splide__track">
					<ul class="splide__list">
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
						<li class="splide__slide">{% include 'components/objects-item.html' %}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>