{% extends 'components/_layout.html' %}
{% set site_title = 'О компании' %}

{% block content %}

<section class="breadcrumbs about-breadcrumbs">
	<video class="about-bg" autoplay muted loop playsinline preload="none">
		<source src="video/about.mp4" type="video/mp4">
	</video>
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">О компании</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Ласпан групп - Российское производственное объединение, <span>имеющее опыт разработки коммерческих интерьерных решений «Под ключ»</span></h2>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">LASPAN - создаём современные интерьеры!</h2>
		</div>
	</div>
</section>

Миссии и цели компании

<section class="section">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Обращение Генерального директора</h2>
		</div>
	</div>
</section>

<section class="section section-top-0">
	<div class="container">
		<div class="section-head">
			<h2 class="section-title">11 лет оптимизируем и развиваем производственные и логистические процессы </h2>
		</div>
	</div>
</section>

<section class="section section-border">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Компания в цифрах</h2>
		</div>
	</div>
</section>

{% include 'sections/warehouses.html' %}

<section class="section section-gray">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Крутейшая команда специалистов</h2>
		</div>
	</div>
</section>

<section class="section section-border">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Почему нас выбирают?</h2>
		</div>
	</div>
</section>

<section class="section section-border">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Что говорят клиенты</h2>
		</div>
	</div>
</section>

<section class="section section-border partners">
	<div class="container">
		<div class="partners-head">
			<div class="section-head__counter">
				<h2 class="section-title">С кем мы работаем</h2>
			</div>
			<div class="partners-arrows">
				<button class="splide__arrow splide__arrow--prev">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.88224 4.25565e-07L8 1.13697L2.23553 7.00048L8 12.863L6.88224 14L3.05965e-07 7.00048L6.88224 4.25565e-07Z" fill="currentColor"/>
					</svg>
				</button>
				<div class="partners-counter">
					<div class="partners-counter__current">01</div>
					<div class="partners-counter__progress"><span style="width: 40%;"></span></div>
					<div class="partners-counter__total">05</div>
				</div>
				<button class="splide__arrow splide__arrow--next">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.11776 14L-2.57602e-07 12.863L5.76447 6.99952L2.5496e-07 1.13697L1.11776 -3.00821e-07L8 6.99952L1.11776 14Z" fill="currentColor"/>
					</svg>
				</button>
			</div>
		</div>
		<div class="partners-carousel splide">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section section-border">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Фотогалерея компании</h2>
		</div>
	</div>
</section>

{% endblock %}