{% extends 'components/_layout.html' %}
{% set site_title = 'Потолки' %}

{% block content %}

промо

<section class="section ceilings-panels">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Потолочные плиты Laspan Colorika</h2>
		</div>
		<div class="ceilings-panels-grid">
			<div class="ceilings-panels-item">
				<a href="#" class="ceilings-panels-item__title">Серия «Biomed»</a>
				<img src="img/ceilings-panels-01.jpg" alt="" loading="lazy" class="ceilings-panels-item__image">
				<div class="ceilings-panels-item__info">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="11" stroke="#E31E24" stroke-width="2"/>
						<path d="M8.31216 11.2625L11.2624 14.2128L15.6878 9.78735" stroke="#E31E24" stroke-width="2"/>
					</svg>
					<p>Разработано для медицины</p>
				</div>
			</div>
			<div class="ceilings-panels-item">
				<a href="#" class="ceilings-panels-item__title">Серия «Premium»</a>
				<img src="img/ceilings-panels-02.jpg" alt="" loading="lazy" class="ceilings-panels-item__image">
				<div class="ceilings-panels-item__info">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="11" stroke="#E31E24" stroke-width="2"/>
						<path d="M8.31216 11.2625L11.2624 14.2128L15.6878 9.78735" stroke="#E31E24" stroke-width="2"/>
					</svg>
					<p>Многообразие цветовых решений</p>
				</div>
			</div>
			<div class="ceilings-panels-item">
				<a href="#" class="ceilings-panels-item__title">Серия «Premium Line»</a>
				<img src="img/ceilings-panels-03.jpg" alt="" loading="lazy" class="ceilings-panels-item__image">
				<div class="ceilings-panels-item__info">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="12" cy="12" r="11" stroke="#E31E24" stroke-width="2"/>
						<path d="M8.31216 11.2625L11.2624 14.2128L15.6878 9.78735" stroke="#E31E24" stroke-width="2"/>
					</svg>
					<p>Эксклюзивные формы и линии</p>
				</div>
			</div>
		</div>
	</div>
</section>

экономичнее на 35%

{% include 'sections/laspan.html' %}

{% include 'sections/get-samples.html' %}

<section class="ceilings">
	<div class="container">
		{% include 'components/ceilings-item.html' %}
		{% include 'components/ceilings-item.html' %}
		{% include 'components/ceilings-item.html' %}
	</div>
</section>

{% include 'sections/scope.html' %}

<section class="section certificates">
	<div class="container">
		<div class="section-head">
			<h2 class="section-title">Сертификаты</h2>
			<p class="section-description">Вся продукция проходит любые проверки при сдаче объекта</p>
		</div>
		<div class="certificates-grid">
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
		</div>
	</div>
</section>

<section class="section section-gray colorika">
	<div class="container">
		<h2 class="colorika-title section-title">Laspan Colorika это:</h2>
		<ul class="colorika-bullets">
			<li>Новые возможности оформления потолков</li>
			<li>Создание современных интерьеров</li>
			<li>Готовые стильные решения</li>
		</ul>
		<div class="colorika-economical">
			<div class="section-head">
				<p class="section-description">И всё это</p>
				<h3 class="section-title"><span>На 80% экономичнее</span> популярных европейских систем!</h3>
			</div>
		</div>
	</div>
</section>

{% include 'sections/estimate.html' %}

{% endblock %}