{% extends 'components/_layout.html' %}
{% set site_title = 'Потолки' %}

{% block content %}

промо

<section class="section">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Потолочные плиты Laspan Colorika</h2>
		</div>
	</div>
</section>

экономичнее на 35%

{% include 'sections/laspan.html' %}

{% include 'sections/get-samples.html' %}

серии

{% include 'sections/scope.html' %}

<section class="section certificates">
	<div class="container">
		<div class="section-head">
			<h2 class="section-title">Сертификаты</h2>
			<p class="section-description">Вся продукция проходит любые проверки при сдаче объекта</p>
		</div>
		<div class="certificates-grid">
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
		</div>
	</div>
</section>

<section class="section section-gray">
	<div class="container">
		колорика это
	</div>
</section>

{% include 'sections/estimate.html' %}

{% endblock %}