{% extends 'components/_layout.html' %}
{% set site_title = 'Контакты' %}

{% block content %}

<section class="breadcrumbs breadcrumbs-bg-image" style="background-image: url(img/contacts-bg.jpg);">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Контакты компании «Laspan»</h2>
	</div>
</section>

<section class="contacts">
	<div class="container">
		<div class="contacts-content">
			<ul class="contacts-tabs">
				<li data-id="1" data-image="img/contacts-image-01.jpg" class="active">Офисы</li>
				<li data-id="2" data-image="img/contacts-image-02.jpg">Производство</li>
				<li data-id="3" data-image="img/contacts-image-03.jpg">Склады</li>
			</ul>
			<div class="contacts-tab active" data-id="1">
				<h2 class="section-title">ООО “Ласпан Групп”</h2>
				<div class="contacts-item">
					<p>Отдел федеральных продаж:</p>
				</div>
				<div class="contacts-item">
					<span>E-mail:</span>
					<p>info+877130@laspan.ru</p>
				</div>
				<div class="contacts-item">
					<span>Телефон:</span>
					<p>8 (800) 550-07-36</p>
					<small>Бесплатно по РФ</small>
				</div>
				<div class="contacts-item">
					<span>Шоу-рум в г. Москва:</span>
					<p>ул. Шлюзовая набережная 8 стр. 1, офис 111</p>
					<small>м-Павелецкая</small>
				</div>
				<div class="contacts-item">
					<span>Офис в г. Уфа:</span>
					<p>ул. 50 лет СССР, д. 39к11, 3 этаж</p>
				</div>
				<div class="contacts-item">
					<span>Офис в г. Астана:</span>
					<p>БЦ «ERZO», ул.Токпанова, 27, 4-этаж, оф. 4-03</p>
				</div>
				<div class="contacts-item-grid">
					<div class="contacts-item">
						<span>Отдел логистики:</span>
						<p>logist@laspan.ru</p>
					</div>
					<div class="contacts-item">
						<span>Отдел снабжения:</span>
						<p>omts@laspan.ru</p>
					</div>
					<div class="contacts-item">
						<span>Бухгалтерия:</span>
						<p>glavbuh@laspan.ru</p>
					</div>
					<div class="contacts-item">
						<span>Отдел кадров:</span>
						<p>hr@laspan.ru</p>
					</div>
				</div>
			</div>
			<div class="contacts-tab" data-id="2">
				<h2 class="section-title">Производство</h2>
				<div class="contacts-item">
					<span>г. Москва:</span>
					<p>Московская обл., Балашихинский р-н, дер. Полтево, дом 111</p>
				</div>
				<div class="contacts-item">
					<span>г. Уфа:</span>
					<p>Бирский тракт 1, корп.8</p>
				</div>
				<div class="contacts-item">
					<span>г. Нижний Новгород:</span>
					<p>г. Дзержинск проспект Ленина 117</p>
				</div>
				<div class="contacts-item">
					<span>г. Астана:</span>
					<p>Жилой массив Коктал, ул. Болашак 28, Корпус 2</p>
				</div>
			</div>
			<div class="contacts-tab" data-id="3">
				<h2 class="section-title">Склады</h2>
				<div class="contacts-item">
					<span>г. Оренбург:</span>
					<p>Ул. Монтажников, 23/3</p>
				</div>
				<div class="contacts-item">
					<span>г. Екатерингбург:</span>
					<p>ул. Шефская, 2Б, строение 1</p>
				</div>
				<div class="contacts-item">
					<span>г. Махачкала:</span>
					<p>ул. Ирчи Казака 2в</p>
				</div>
				<div class="contacts-item">
					<span>г. Ростов-на-Дону:</span>
					<p>РО, Мясниковский р-н, Чалтырское сп, Промзона, склад №1</p>
				</div>
			</div>
		</div>
		<div class="contacts-image">
			<img src="img/contacts-image-01.jpg" alt="">
		</div>
	</div>
</section>

{% include 'sections/warehouses.html' %}

{% include 'sections/specialists.html' %}

{% endblock %}