{% extends 'components/_layout.html' %}
{% set site_title = 'Декоры' %}

{% block content %}

<section class="breadcrumbs">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Декоры</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Декоры</h2>
	</div>
</section>

<section class="section decor-section">
	<div class="container">
		<div class="section-title">Категории декоров</div>
		<div class="decor-section-grid">
			{% include 'components/decor-section-item.html' %}
			{% include 'components/decor-section-item.html' %}
			{% include 'components/decor-section-item.html' %}
			<div class="decor-section-banner">
				<div class="decor-section-banner__label">Не знаете, что выбрать?</div>
				<div class="decor-section-banner__title">Наши специалисты помогут с подбором <span>бесплатно</span></div>
				<img src="img/decor-banner-01.png" alt="" loading="lazy" class="decor-section-banner__image-01">
				<a href="#" class="btn btn-sm btn-yellow">Заказать подбор</a>
			</div>
			{% include 'components/decor-section-item.html' %}
			{% include 'components/decor-section-item.html' %}
			{% include 'components/decor-section-item.html' %}
			<div class="decor-section-banner">
				<div class="decor-section-banner__title">Изготовим<br> <span>3D визуализацию</span> для Вашего объекта</div>
				<img src="img/decor-banner-02.png" alt="" loading="lazy" class="decor-section-banner__image-02">
				<a href="#" class="btn btn-sm btn-yellow">Заказать дизайн</a>
			</div>
			{% include 'components/decor-section-item.html' %}
			{% include 'components/decor-section-item.html' %}
		</div>
	</div>
</section>

<section class="decor-design">
	<div class="container">
		<div class="decor-design-top">
			<div class="section-head">
				<h2 class="section-title">Дизайн проекты отделки помещений панелями</h2>
				<p class="section-description">Мы разработали более 50 вариантов отделки помещения нашими панелями</p>
			</div>
		</div>
		<div class="decor-design-bottom">
			<h2 class="section-title"><span>Подберите</span> оптимальный вариант для Вашего помещения!</h2>
			<a href="#" class="btn btn-sm btn-yellow">Скачать каталог</a>
			<p class="section-description">В каталоге указаны номера декоров и ориентировочная стоимость панелей</p>
		</div>
		<img src="img/decor-design-image.png" alt="" class="decor-design-image">
	</div>
</section>

{% endblock %}