{% extends 'components/_layout.html' %}
{% set site_title = 'Декоры' %}

{% block content %}

<section class="breadcrumbs">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Декоры</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Декоры</h2>
	</div>
</section>

<section class="section decor-section">
	<div class="container">
		<div class="section-title">Категории декоров</div>
		<div class="decor-section__grid"></div>
	</div>
</section>

{% endblock %}