{% extends 'components/_layout.html' %}
{% set site_title = 'Двери' %}

{% block content %}

<section class="promo">
	<div class="promo-carousel">
		<div class="promo-item">
			<div class="container">
				<div class="promo-item__content">
					<h1 class="section-title">Межкомнатные двери для <span>административных, коммерческих, и других общественных помещений</span></h1>
					<p class="promo-item__text">Изготоваливаем двери на заказ под объект по Вашим ТЗ и спецификациям</p>
					<ul class="promo-item__bullets">
						<li>Стандартные и заказные размеры</li>
						<li>С покрытием ПВХ/CPL/HPL</li>
						<li>Более 300 декоров и цветов</li>
					</ul>
					<a href="#" class="btn btn-sm btn-yellow">Заказать расчет</a>
				</div>
				<div class="promo-item__background" style="background-image: url(img/promo-bg-1.jpg);"></div>
			</div>
		</div>
	</div>
</section>

{% include 'sections/estimate.html' %}

{% include 'sections/showroom.html' %}

{% include 'sections/about.html' %}

{% include 'sections/warehouses.html' %}

{% include 'sections/specialists.html' %}

{% endblock %}