{% extends 'components/_layout.html' %}
{% set site_title = 'Двери' %}

{% block content %}

<section class="promo">
	<div class="promo-carousel">
		<div class="promo-item">
			<div class="container">
				<div class="promo-item__content">
					<h1 class="section-title">Межкомнатные двери для <span>административных, коммерческих, и других общественных помещений</span></h1>
					<p class="promo-item__text">Изготоваливаем двери на заказ под объект по Вашим ТЗ и спецификациям</p>
					<ul class="promo-item__bullets">
						<li>Стандартные и заказные размеры</li>
						<li>С покрытием ПВХ/CPL/HPL</li>
						<li>Более 300 декоров и цветов</li>
					</ul>
					<a href="#" class="btn btn-sm btn-yellow">Заказать расчет</a>
				</div>
				<div class="promo-item__background" style="background-image: url(img/promo-bg-1.jpg);"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-gray doors-type">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Типы выпускаемых дверей LASPAN</h2>
		</div>
		<div class="doors-type-grid">
			<div class="doors-type-item">
				<div class="doors-type-item__title"><img src="img/doors-item-01.jpg" loading="lazy" alt="">Офисные двери</div>
				<img src="img/doors-item-01.jpg" class="doors-type-item__image" loading="lazy" alt="">
				<ul class="doors-type-item__list">
					<li>ПВХ-покрытие</li>
					<li>Более 300 декоров</li>
					<li>Фрезеровка под фурнитуру</li>
					<li>Телескопичекая коробка</li>
				</ul>
			</div>
			<div class="doors-type-item">
				<div class="doors-type-item__title"><img src="img/doors-item-02.jpg" loading="lazy" alt="">Медицинские двери</div>
				<img src="img/doors-item-02.jpg" class="doors-type-item__image" loading="lazy" alt="">
				<ul class="doors-type-item__list">
					<li>CPL/HPL-покрытие</li>
					<li>Более 50 декоров</li>
					<li>Фрезеровка под фурнитуру</li>
					<li>Металическая коробка</li>
				</ul>
			</div>
			<div class="doors-type-item">
				<div class="doors-type-item__title"><img src="img/doors-item-03.jpg" loading="lazy" alt="">Скрытые двери</div>
				<img src="img/doors-item-03.jpg" class="doors-type-item__image" loading="lazy" alt="">
				<ul class="doors-type-item__list">
					<li>Покрытие экошпон или ПВХ</li>
					<li>Более 70 декоров</li>
					<li>Подбор под стеновые панели собственного производства</li>
				</ul>
			</div>
			<div class="doors-type-item doors-type-item-more">
				<div class="doors-type-item__title">А также</div>
				<ul class="doors-type-item__list">
					<li>Противопожарные с пределом огнестойкости EI 30 или EI 60</li>
					<li>Шумоизоляционные</li>
					<li>С передаточным окном</li>
					<li>С отбойными пластинами</li>
					<li>С системой «антипаника»</li>
					<li>С алюминиевой кромкой</li>
				</ul>
			</div>
		</div>
	</div>
	<img src="img/svg/door-pattern.svg" alt="" class="doors-type-bg">
</section>

{% include 'sections/estimate.html' %}

{% include 'sections/showroom.html' %}

{% include 'sections/about.html' %}

{% include 'sections/warehouses.html' %}

{% include 'sections/specialists.html' %}

{% endblock %}