{% extends 'components/_layout.html' %}
{% set site_title = 'Двери' %}

{% block content %}

<section class="promo">
	<div class="promo-carousel">
		<div class="promo-item">
			<div class="container">
				<div class="promo-item__content">
					<h1 class="section-title">Ламинированные гипсокартонные листы в наличии и под заказ<br> <span>от&nbsp;крупнейшего<br> производителя России</span></h1>
					<ul class="promo-item__list">
						<li>по ценам ниже посредников <span> до 30%</span></li>
						<li><span>3 завода</span> по России</li>
						<li>доставка <span>на объекты</span> по РФ</li>
					</ul>
					<a href="#" class="btn btn-sm btn-yellow">Получить прайс</a>
				</div>
				<div class="promo-item__background" style="background-image: url(img/promo-bg-1.jpg);">
					<img src="img/promo-image-1.png" alt="" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'sections/estimate.html' %}

{% include 'sections/showroom.html' %}

{% include 'sections/about.html' %}

{% include 'sections/warehouses.html' %}

{% include 'sections/specialists.html' %}

{% endblock %}