{% extends 'components/_layout.html' %}
{% set site_title = 'Поддержка' %}

{% block content %}

<section class="breadcrumbs">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Поддержка</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Поддержка</h2>
	</div>
</section>

<section class="help">
	<div class="container">
		<div class="help-section">
			<div class="help-section__sidebar">
				<h2 class="help-section__title">Сертификаты на продукцию «Ласпан»</h2>
			</div>
			<div class="help-section__main">
				<div class="help-section__accordion">
					<div class="help-section__accordion-title">Ламинированные панели</div>
					<div class="help-section__accordion-content">
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
					</div>
				</div>
				<div class="help-section__accordion">
					<div class="help-section__accordion-title">Ламинированные панели</div>
					<div class="help-section__accordion-content">
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
					</div>
				</div>
				<div class="help-section__accordion">
					<div class="help-section__accordion-title">Ламинированные панели</div>
					<div class="help-section__accordion-content">
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
						<div class="help-section__item">
							<div class="help-section__item-info">
								<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
								<p>Инструкция</p>
							</div>
							<a href="#" class="help-section__item-btn help-section__item-preview"></a>
							<a href="#" class="help-section__item-btn help-section__item-download"></a>
							<a href="#" class="help-section__item-btn help-section__item-link"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="help-section">
			<div class="help-section__sidebar">
				<h2 class="help-section__title">Документация</h2>
			</div>
			<div class="help-section__main">
				<div class="help-section__item">
					<div class="help-section__item-info">
						<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
						<p>Инструкция</p>
					</div>
					<a href="#" class="help-section__item-btn help-section__item-preview"></a>
					<a href="#" class="help-section__item-btn help-section__item-download"></a>
					<a href="#" class="help-section__item-btn help-section__item-link"></a>
				</div>
				<div class="help-section__item">
					<div class="help-section__item-info">
						<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
						<p>Инструкция</p>
					</div>
					<a href="#" class="help-section__item-btn help-section__item-preview"></a>
					<a href="#" class="help-section__item-btn help-section__item-download"></a>
					<a href="#" class="help-section__item-btn help-section__item-link"></a>
				</div>
				<div class="help-section__item">
					<div class="help-section__item-info">
						<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
						<p>Инструкция</p>
					</div>
					<a href="#" class="help-section__item-btn help-section__item-preview"></a>
					<a href="#" class="help-section__item-btn help-section__item-download"></a>
					<a href="#" class="help-section__item-btn help-section__item-link"></a>
				</div>
			</div>
		</div>
		<div class="help-section">
			<div class="help-section__sidebar">
				<h2 class="help-section__title">Инструкции по монтажу стеновых панелей LASPAN</h2>
			</div>
			<div class="help-section__main">
				<div class="help-section__item">
					<div class="help-section__item-info">
						<b>Для стеновых панелей со скрытой кромкой, на профильный каркас</b>
						<p>Инструкция</p>
					</div>
					<a href="#" class="help-section__item-btn help-section__item-preview"></a>
					<a href="#" class="help-section__item-btn help-section__item-download"></a>
					<a href="#" class="help-section__item-btn help-section__item-link"></a>
				</div>
			</div>
		</div>
		<div class="help-section">
			<div class="help-section__sidebar">
				<h2 class="help-section__title">Инструкция<br> по монтажу Лгкл</h2>
				<a href="#" class="btn btn-xs btn-red" style="max-width: 240px; margin-top: 24px">Все видеообзоры</a>
			</div>
			<div class="help-section__main">
				<div class="help-section__video"><a href="https://vkvideo.ru/video869536710_456239025" data-fancybox><img src="img/showroom-video.jpg" loading="lazy" alt=""></a></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}