{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
	<div class="promo-carousel splide">
		<div class="splide__track">
			<ul class="splide__list">
				<li class="splide__slide" data-slide-name="Ламинированный гипсокартон">
					<div class="promo-item">
						<div class="container">
							<div class="promo-item__content">
								<h1 class="section-title">Ламинированные гипсокартонные листы в наличии и под заказ<br> <span>от&nbsp;крупнейшего<br> производителя России</span></h1>
								<ul class="promo-item__list">
									<li>по ценам ниже посредников <span> до 30%</span></li>
									<li><span>3 завода</span> по России</li>
									<li>доставка <span>на объекты</span> по РФ</li>
								</ul>
								<a href="#" class="btn btn-sm btn-yellow">Получить прайс</a>
							</div>
							<div class="promo-item__background" style="background-image: url(img/promo-bg-1.jpg);">
								<img src="img/promo-image-1.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</li>
				<li class="splide__slide" data-slide-name="Slide name">
					<div class="promo-item">
						<div class="container">
							<div class="promo-item__content">
								<h1 class="section-title">Title</h1>
								<p class="promo-item__text"><b>Short</b> description</p>
							</div>
							<div class="promo-item__background" style="background-image: url(img/promo-bg-1.jpg);">
								<img src="img/promo-image-1.png" alt="" loading="lazy">
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="promo-control__wrapper">
		<div class="container">
			<div class="promo-control">
				<div class="promo-control__next">
					<span>Далее</span>
					<p></p>
				</div>
				<div class="promo-control__arrows splide__arrows">
					<button class="splide__arrow splide__arrow--prev">
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M6.88224 4.25565e-07L8 1.13697L2.23553 7.00048L8 12.863L6.88224 14L3.05965e-07 7.00048L6.88224 4.25565e-07Z" fill="currentColor"/>
						</svg>
					</button>
					<button class="splide__arrow splide__arrow--next">
						<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.11776 14L-2.57602e-07 12.863L5.76447 6.99952L2.5496e-07 1.13697L1.11776 -3.00821e-07L8 6.99952L1.11776 14Z" fill="currentColor"/>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section products">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Наша продукция</h2>
		</div>
		<div class="products-grid">
			<a href="#" class="products-item">
				<svg></svg>
				<b class="products-item__title">Ламинированные ГКЛ</b>
				<span class="products-item__subtitle">15 панелей</span>
				<img src="img/products-item-01.png" alt="" class="products-item__image" loading="lazy">
				<div class="products-item__counter"></div>
			</a>
			<a href="#" class="products-item">
				<svg></svg>
				<b class="products-item__title">Антивандальные</b>
				<span class="products-item__subtitle">15 панелей</span>
				<img src="img/products-item-02.png" alt="" class="products-item__image" loading="lazy">
				<div class="products-item__counter"></div>
			</a>
			<a href="#" class="products-item">
				<svg></svg>
				<b class="products-item__title">Медицинские</b>
				<span class="products-item__subtitle">15 панелей</span>
				<img src="img/products-item-03.png" alt="" class="products-item__image" loading="lazy">
				<div class="products-item__counter"></div>
			</a>
			<a href="#" class="products-item">
				<svg></svg>
				<b class="products-item__title">Негорючие</b>
				<span class="products-item__subtitle">15 панелей</span>
				<img src="img/products-item-04.png" alt="" class="products-item__image" loading="lazy">
				<div class="products-item__counter"></div>
			</a>
			<a href="#" class="products-item">
				<svg></svg>
				<b class="products-item__title">Металлические</b>
				<span class="products-item__subtitle">15 панелей</span>
				<img src="img/products-item-05.png" alt="" class="products-item__image" loading="lazy">
				<div class="products-item__counter"></div>
			</a>
			<a href="#" class="products-item">
				<svg></svg>
				<b class="products-item__title">Шпонированные</b>
				<span class="products-item__subtitle">15 панелей</span>
				<img src="img/products-item-06.png" alt="" class="products-item__image" loading="lazy">
				<div class="products-item__counter"></div>
			</a>
			<a href="#" class="products-item products-item__background" style="background-image: url(img/products-item-07.jpg);">
				<svg></svg>
				<div class="products-item__counter">Потолки</div>
			</a>
			<a href="#" class="products-item products-item__background" style="background-image: url(img/products-item-08.jpg);">
				<svg></svg>
				<div class="products-item__counter">Двери</div>
			</a>
		</div>
	</div>
</section>

<section class="section services">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">Наши услуги</h2>
		</div>
		<div class="services-slider">
			<div class="services-slider-wrapper">
				<div class="services-item services-item-gray">
					<div class="services-item__title">Расчет по проекту<br> за 1 час<br> <span>бесплатно</span></div>
					<div class="services-item__description">Произведем точный расчет объёмов и стоимости панелей по вашим ТЗ и планировкам</div>
					<a href="#" class="btn btn-sm btn-red">Заказать презентацию</a>
					<img src="img/services-item-01.png" alt="" class="services-item__pic" loading="lazy">
				</div>
				<div class="services-item services-item-dark">
					<div class="services-item__title">Дизайн<br> интерьеров</div>
					<div class="services-item__description">Разработаем концепцию интерьера и изготовим 3D-визуализацию Ваших помещений</div>
					<a href="#" class="btn btn-sm btn-yellow">Заказать дизайн</a>
					<img src="img/services-item-02.png" alt="" class="services-item__pic" loading="lazy">
				</div>
				<div class="services-item services-item-image">
					<div class="services-item__title">Шоу-рум<br> с образцами<br> продукции</div>
					<div class="services-item__description">Шоу-рум в Москве, Уфе и Астане</div>
					<a href="#" class="btn btn-sm btn-red">Посетить шоурум</a>
				</div>
				<div class="services-item services-item-blue">
					<div class="services-item__title">Бесплатная<br> отправка образцов<br> и каталогов декоров</div>
					<div class="services-item__description">До Вашего офиса любом городе РФ и СНГ</div>
					<a href="#" class="btn btn-sm btn-yellow">Получить образцы</a>
					<img src="img/services-item-04.png" alt="" class="services-item__pic" loading="lazy">
				</div>
				<div class="services-item services-item-red">
					<div class="services-item__title">Доставка до<br> объекта по<br> России и СНГ</div>
					<div class="services-item__description">Рассчитаем точную стоимость<br> и сроки доставки</div>
					<a href="#" class="btn btn-sm btn-yellow">Рассчитать доставку</a>
					<img src="img/services-item-05.png" alt="" class="services-item__pic" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</section>

{% include 'sections/objects.html' %}

{% include 'sections/laspan.html' %}

{% include 'sections/get-samples.html' %}

{% include 'sections/scope.html' %}

{% include 'sections/about.html' %}

{% include 'sections/warehouses.html' %}

<section class="section partners">
	<div class="container">
		<div class="partners-head">
			<div class="section-head__counter">
				<h2 class="section-title">С кем мы работаем</h2>
			</div>
			<div class="partners-arrows">
				<button class="splide__arrow splide__arrow--prev">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.88224 4.25565e-07L8 1.13697L2.23553 7.00048L8 12.863L6.88224 14L3.05965e-07 7.00048L6.88224 4.25565e-07Z" fill="currentColor"/>
					</svg>
				</button>
				<div class="partners-counter">
					<div class="partners-counter__current">01</div>
					<div class="partners-counter__progress"><span style="width: 40%;"></span></div>
					<div class="partners-counter__total">05</div>
				</div>
				<button class="splide__arrow splide__arrow--next">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.11776 14L-2.57602e-07 12.863L5.76447 6.99952L2.5496e-07 1.13697L1.11776 -3.00821e-07L8 6.99952L1.11776 14Z" fill="currentColor"/>
					</svg>
				</button>
			</div>
		</div>
		<div class="partners-carousel splide">
			<div class="splide__track">
				<ul class="splide__list">
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
					<li class="splide__slide">{% include 'components/partners-item.html' %}</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section estimate">
	<div class="container">
		<img src="img/estimate-image.png" alt="" class="estimate-image" loading="lazy">
		<div class="estimate-content">
			<div class="section-head">
				<h2 class="section-title">Есть проект,<br> нужен расчет?</h2>
				<p class="section-description">Опишите проект и Ваши пожелания</p>
			</div>
			<form action="#" method="post" class="estimate-form">
				<label class="label label-half">
					<span>Ваше имя</span>
					<input type="text" name="name" class="input" placeholder="Александр" />
				</label>
				<label class="label label-half">
					<span>Телефон</span>
					<input type="tel" name="phone" class="input masked" placeholder="+7 (000) 000-00-00" required />
				</label>
				<label class="label">
					<span>Опишите проект</span>
					<input type="text" name="text" class="input" placeholder="Опишите проект и Ваши пожелания" />
				</label>
				<div class="label">
					<span>Добавить файл</span>
					<label class="label-file">
						<input type="file" name="file" />
						<span class="label-file__start">
							<b>Добавить файл</b>
							<p>Общий размер файла не должен превышать 25 МБ</p>
						</span>
						<span class="label-file__upload hide">
							<b>Файл выбран</b>
							<p>название файла</p>
						</span>
					</label>
				</div>
				<button class="btn btn-md btn-yellow">Отправить</button>
				<p class="estimate-form__agree">Заполняя эту форму вы даете согласие на <a href="#">обработку ваших персональных данных</a></p>
			</form>
		</div>
	</div>
</section>

что о нас говорят

{% endblock %}