{% extends 'components/_layout.html' %}
{% set site_title = 'Инструкция' %}

{% block content %}

<section class="promo" style="background: #fff;">
	<div class="promo-carousel no-carousel">
		<div class="promo-item">
			<div class="container">
				<div class="promo-item__content">
					<h1 class="section-title">Инструкция по монтажу стеновых панелей со скрытой кромкой, методом приклеивания</h1>
					<div class="promo-item__btns">
						<a href="#go" class="btn btn-sm btn-outlined">Смотреть инструкцию<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.91006e-05 2.26509L1.30004 0.965088L4.77004 4.50509L8.24004 0.965088L9.54004 2.26509L4.77004 7.03509L3.91006e-05 2.26509Z" fill="black"></path></svg></a>
						<a href="#" class="btn btn-sm btn-outlined">Скачать инструкцию</a>
					</div>
				</div>
				<div class="promo-item__background" style="background-image: url(img/manual-1-bg.jpg); background-position: left center;"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-gray" id="go">
	<div class="container">
		<div class="manual-head">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Монтаж стеновых панелей методом приклеивания, возможен только на ровные стены независимо от их покрытия (кирпич, штукатурка, гипсокартон и т.д.). Монтаж панелей осуществляется после законченных работ по монтажу дверных и оконных блоков, узлов коммуникации и полов.</h2>
		</div>
		<div class="manual-material">
			<div class="manual-material__title">Используемые материалы:</div>
			<div class="manual-material__grid">
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Стеновые панели Ласпан со скрытой кромкой</b>
						<p>Изготавливается на заказ</p>
					</div>
					<img src="img/material-1.jpg" alt="" loading="lazy">
					<small><span>Макс. размеры</span> 1200x3000 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>L(F)-профиль для защиты внешних углов и примыканий к дверным проемам</b>
					</div>
					<img src="img/material-2.jpg" alt="" loading="lazy">
					<small>Окрашиваются под цвет панелей</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Клей-пена или строительный клей Knauf</b>
					</div>
					<img src="img/material-3.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Крестики для контроля швов между панелями</b>
					</div>
					<img src="img/material-4.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>А также:</b>
						<div class="manual-material__item-more">
							<i>Краска для маскировки швов</i>
							<small>рекомендуемый цвет: черный</small>
						</div>
					</div>
					<img src="img/material-5.jpg" alt="" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Монтаж панелей о существляется после законченных работ по монтажу дверных и оконных блоков, узлов коммуникации и полов.</h2>
		</div>
		<div class="manual-grid">
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">1-м этапом проводится разметка зон размещения панелей, для обозначения швов (теневого зазора) между ними</h2>
					<p>Рекомендуемое расстояние между панелями 1-10 мм. К примыкающей стене панель монтируется вплотную без зазора. Между полом и панелями зазор не требуется, так как низ будет закрыт плинтусом или керамогранитными вставками.</p>
				</div>
				<div class="manual-grid__col"><img src="img/manual-1.png" alt="" loading="lazy"></div>
			</div>
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Разметка производится полностью по всей стене</h2>
					<p>Она будет использована для<br> прокраски (маскировки) швов</p>
				</div>
				<div class="manual-grid__col"><img src="img/manual-2.png" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Размеченные зоны прокрашиваются краской, рекомендуемая ширина полосы 30-40 мм. Стандартный цвет черный. Либо цвет, который предусмотрен дизайн-проектом</h2>
		</div>
		<div class="manual-big">
			<img src="img/manual-3.png" alt="" loading="lazy" class="manual-big-image">
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Нанесите клей на поверхность панели, соблюдая отступы от краев, чтобы при приклеивании, клей не выдавило за границы панели. Далее просто зафиксируйте первую панель вплотную к стене и полу.</h2>
		</div>
		<div class="manual-big">
			<img src="img/manual-4.png" alt="" loading="lazy" class="manual-big-image">
			<div class="manual-material__item">
				<div class="manual-material__item-head">
					<b>Клей-пена или строительный клей Knauf</b>
				</div>
				<img src="img/material-3.jpg" alt="" loading="lazy">
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Для фиксации зазоров между панелями, используйте крестики для клинкерной или обычной плитки необходимых размеров (1-10 мм). Далее просто зафиксируйте первую панель вплотную к стене и полу.</h2>
		</div>
		<div class="manual-big">
			<img src="img/manual-5.png" alt="" loading="lazy" class="manual-big-image">
			<div class="manual-material__item">
				<div class="manual-material__item-head">
					<b>Крестики для контроля швов между панелями</b>
				</div>
				<img src="img/material-4.jpg" alt="" loading="lazy">
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Остальные панели монтируются аналогичным образом с фиксацией зазоров</h2>
		</div>
		<div class="manual-big">
			<img src="img/manual-6.png" alt="" loading="lazy" class="manual-big-image">
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-grid">
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Внутренний угол</h2>
					<p>Внутренние углы монтируются<br> без зазоров и отступов,<br> примыканием вплотную одной<br> панели к другой</p>
				</div>
				<div class="manual-grid__col"><img src="img/manual-7.png" alt="" loading="lazy"></div>
			</div>
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Внешний угол</h2>
					<p>Внешний угол монтируется нахлестом.<br> Выступающая панель закрывается<br> F-профилем (для надежности закрепить<br> клеем)</p>
					<p><b>F-профиль<br> для защиты внешних углов</b><br> Окрашиваются под цвет панелей</p>
					<img src="img/manual-11.png" alt="" loading="lazy" class="manual-grid__icon">
				</div>
				<div class="manual-grid__col"><img src="img/manual-8.png" alt="" loading="lazy"></div>
			</div>
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Примыкание к дверным проёмам закрываются доборами с наличником, либо L-профилем</h2>
					<p>Примыкание к оконным проемам<br> монтируются аналогичным<br> способом, с помощью L-профиля</p>
					<p><b>L-профиль</b><br> Окрашиваются<br> под цвет панелей</p>
					<img src="img/manual-12.png" alt="" loading="lazy" class="manual-grid__icon">
				</div>
				<div class="manual-grid__col"><img src="img/manual-9.png" alt="" loading="lazy"></div>
			</div>
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Примыкание к скрытым дверям «Invisible» монтируется без профилей</h2>
					<p>Зазор между панелью<br> и дверью выставляется<br> согласно дизайн-проекту</p>
				</div>
				<div class="manual-grid__col"><img src="img/manual-10.png" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}