{% extends 'components/_layout.html' %}
{% set site_title = 'Инструкция 2' %}

{% block content %}

<section class="promo" style="background: #fff;">
	<div class="promo-carousel no-carousel">
		<div class="promo-item">
			<div class="container">
				<div class="promo-item__content">
					<h1 class="section-title">Инструкция по монтажу, стеновых панелей со скрытой кромкой, на профильный каркас</h1>
					<div class="promo-item__btns">
						<a href="#go" class="btn btn-sm btn-outlined">Смотреть инструкцию<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.91006e-05 2.26509L1.30004 0.965088L4.77004 4.50509L8.24004 0.965088L9.54004 2.26509L4.77004 7.03509L3.91006e-05 2.26509Z" fill="black"></path></svg></a>
						<a href="#" class="btn btn-sm btn-outlined">Скачать инструкцию</a>
					</div>
				</div>
				<div class="promo-item__background" style="background-image: url(img/manual-2-bg.jpg); background-position: left center;"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-gray" id="go">
	<div class="container">
		<div class="manual-head">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Монтаж стеновых панелей методом приклеивания, возможен только на ровные стены независимо от их покрытия (кирпич, штукатурка, гипсокартон и т.д.). Монтаж панелей осуществляется после законченных работ по монтажу дверных и оконных блоков, узлов коммуникации и полов.</h2>
		</div>
		<div class="manual-material">
			<div class="manual-material__title">Используемые материалы:</div>
			<div class="manual-material__grid manual-material__grid-big">
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Стеновые панели Ласпан со скрытой кромкой</b>
						<p>Изготавливается на заказ</p>
					</div>
					<img src="img/material-1.jpg" alt="" loading="lazy">
					<small><span>Макс. размеры</span> 1200x3000 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>L(F)-профиль для защиты внешних углов и примыканий к дверным проемам</b>
					</div>
					<img src="img/material-2.jpg" alt="" loading="lazy">
					<small>Окрашиваются под цвет панелей</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Подвес прямой для ПП</b>
					</div>
					<img src="img/material-6.jpg" alt="" loading="lazy">
					<small><span>Размеры</span> 60х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Профиль потолочный (стоечный) ПП</b>
					</div>
					<img src="img/material-7.jpg" alt="" loading="lazy">
					<small><span>Размеры</span> 60х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Направляющая горизонтальная НПП</b>
					</div>
					<img src="img/material-8.jpg" alt="" loading="lazy">
					<small><span>Размеры</span> 28х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Z-образный<br> направляющий профиль</b>
					</div>
					<img src="img/material-9.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>А также:</b>
						<div class="manual-material__item-more">
							<i>Дюбель гвозди 6х40</i>
						</div>
						<div class="manual-material__item-more">
							<i>Саморезы 3,5х11 (клоп)</i>
						</div>
						<div class="manual-material__item-more">
							<i>Саморезы с прессшайбой 3,5х11</i>
						</div>
						<div class="manual-material__item-more">
							<i>Просекатель (необязательно)</i>
						</div>
						<div class="manual-material__item-more">
							<i>Клей</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<h2 class="section-title">Монтаж профильного каркаса</h2>
		</div>
		<div class="manual-grid-big">
			<div class="manual-grid-big__col">
				<div class="manual-material__item">
					<img src="img/material-14.jpg" alt="" loading="lazy">
				</div>
			</div>
			<div class="manual-grid-big__col">
				<div class="manual-material__item">
					<div class="manual-material__item-number">1</div>
					<div class="manual-material__item-head">
						<b>Подвес прямой для ПП</b>
					</div>
					<img src="img/material-6.jpg" alt="" loading="lazy">
					<small><span>Макс. размеры</span> 60х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-number">2</div>
					<div class="manual-material__item-head">
						<b>Направляющая горизонтальная НПП</b>
					</div>
					<img src="img/material-8.jpg" alt="" loading="lazy">
					<img src="img/material-16.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<img src="img/material-13.jpg" alt="" loading="lazy">
				</div>
			</div>
		</div>
		<div class="manual-grid-big">
			<div class="manual-grid-big__col">
				<div class="manual-material__item">
					<img src="img/material-15.jpg" alt="" loading="lazy">
				</div>
			</div>
			<div class="manual-grid-big__col">
				<div class="manual-material__item">
					<div class="manual-material__item-number">1</div>
					<div class="manual-material__item-head">
						<b>Профиль потолочный (стоечный) ПП</b>
					</div>
					<img src="img/material-10.jpg" alt="" loading="lazy">
					<small><span>Макс. размеры</span> 60х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-number">2</div>
					<div class="manual-material__item-head">
						<b>Крепление подвесов к ПП с помощью саморезов с прессшайбой</b>
					</div>
					<img src="img/material-11.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-number">3</div>
					<div class="manual-material__item-head">
						<b>Крепление НПП к ПП с помощью просекателя или саморезов с прессшайбой</b>
					</div>
					<img src="img/material-12.jpg" alt="" loading="lazy">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<h2 class="section-title">Монтаж Z-образных профилей</h2>
		</div>
		<div class="manual-z-grid">
			<div class="manual-z-item">
				<img src="img/material-17.jpg" alt="" loading="lazy">
				<div class="manual-z-tooltip manual-z-tooltip-1">
					<b>Z-образный<br> направляющий профиль</b>
					<p>Для экономии нарезать кусками по 100 мм. Закрепить с помощью клея и двух саморезов 3,5х11 мм</p>
					<img src="img/material-21.png" alt="" loading="lazy" class="manual-z-tooltip-image">
					<img src="img/svg/z-arrow-1.svg" alt="" loading="lazy" class="manual-z-tooltip-arrows">
				</div>
			</div>
			<div class="manual-z-item">
				<img src="img/material-18.jpg" alt="" loading="lazy">
			</div>
			<div class="manual-z-item">
				<img src="img/material-19.jpg" alt="" loading="lazy">
				<div class="manual-z-tooltip manual-z-tooltip-2">
					<b>Z-образный<br> направляющий профиль</b>
					<p>Крепится на ПП с помощью саморезов с прессшайбой по 2 самореза к каждому профилю</p>
					<img src="img/material-21.png" alt="" loading="lazy" class="manual-z-tooltip-image">
					<img src="img/svg/z-arrow-2.svg" alt="" loading="lazy" class="manual-z-tooltip-arrows">
				</div>
			</div>
			<div class="manual-z-item">
				<img src="img/material-20.jpg" alt="" loading="lazy">
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="manual-head half">
			<span>Монтаж панелей</span>
			<h2 class="section-title">Монтаж панелей о существляется после законченных работ по монтажу дверных и оконных блоков, узлов коммуникации и полов</h2>
		</div>
		<div class="manual-grid">
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Внешний угол</h2>
					<p>Внешний угол монтируется нахлестом.<br> Выступающая панель закрывается<br> F-профилем (для надежности закрепить<br> клеем)</p>
					<p><b>F-профиль<br> для защиты внешних углов</b><br> Окрашиваются под цвет панелей</p>
					<img src="img/manual-15.png" alt="" loading="lazy" class="manual-grid__icon">
				</div>
				<div class="manual-grid__col"><img src="img/manual-13.png" alt="" loading="lazy"></div>
			</div>
			<div class="manual-grid__row">
				<div class="manual-grid__col">
					<h2 class="section-title">Внутренний угол</h2>
					<p>Внутренние углы монтируются<br> без зазоров и отступов,<br> примыканием вплотную одной<br> панели к другой</p>
					<img src="img/manual-16.png" alt="" loading="lazy" class="manual-grid__icon">
				</div>
				<div class="manual-grid__col"><img src="img/manual-14.png" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}