{% extends 'components/_layout.html' %}
{% set site_title = 'Инструкция 3' %}

{% block content %}

<section class="promo" style="background: #fff;">
	<div class="promo-carousel no-carousel">
		<div class="promo-item">
			<div class="container">
				<div class="promo-item__content">
					<h1 class="section-title">Инструкция по монтажу ламинированного гипсокартона на профильный каркас</h1>
					<div class="promo-item__btns">
						<a href="#go" class="btn btn-sm btn-outlined">Смотреть инструкцию<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.91006e-05 2.26509L1.30004 0.965088L4.77004 4.50509L8.24004 0.965088L9.54004 2.26509L4.77004 7.03509L3.91006e-05 2.26509Z" fill="black"></path></svg></a>
						<a href="#" class="btn btn-sm btn-outlined">Скачать инструкцию</a>
					</div>
				</div>
				<div class="promo-item__background" style="background-image: url(img/manual-3-bg.jpg); background-position: left center;"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-gray" id="go">
	<div class="container">
		<div class="guide-title section-title">Общие правила монтажа и хранения панелей Laspan</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block">
					<h3 class="guide-subtitle">Правила хранения</h3>
					<ul class="guide-list">
						<li>После транспортировки (или временного хранения) панелей перед осуществлением монтажа требуется выдержать панели в помещении, с целью выравнивания температуры панелей до температуры помещения. При принудительной просушке, а также при монтаже сырых или холодных панелей вероятны их последующие деформация и растрескивание.</li>
						<li>Хранение панелей следует осуществлять только в горизонтальном положении, на поддонах или паллетах, на ровном полу. Перемещать панели следует в вертикальном положении, избегая прогибаний, ударов, скручиваний</li>
						<li>Работы с панелями необходимо производить в помещениях с сухим или нормальным температурно-влажностным режимом. Следует избегать резких изменений температуры и влажности непосредственно при монтаже, а также в течение трех дней после монтажа, чтобы избежать возможной деформаций конструкции.</li>
					</ul>
				</div>
			</div>
			<div class="guide-col guide-pc">
				<div class="guide-block image"><img src="img/guide-1.jpg" alt="" loading="lazy"></div>
			</div>
			<div class="guide-col">
				<div class="guide-block">
					<h3 class="guide-subtitle">Инструмент, применяемый при монтаже панелей</h3>
					<ul class="guide-list">
						<li>Для нарезки направляющего профиля и стоек используются ножницы по металлу или УШМ («Болгарка»).</li>
						<li>Соединение между собой профилей осуществляется специальным просекателем</li>
						<li>Для прорезки отверстий под специальные установочные элементы используется сверло «балеринка» для гипсокартонных плит</li>
						<li>Для нарезки панелей LASPAN рекомендуем использовать усиленный «мастер-нож» со сменными лезвиями</li>
						<li>Для прорезки небольших участков можно использовать обычную ножовку</li>
						<li>Для нарезки профилей (омега-, пи-, F и L- конфигураций) рекомендуем использовать специальную торцовочную пилу с диском по стали или алюминию</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<h2 class="guide-title section-title">Общие положения</h2>
		<div class="guide-grid">
			<div class="guide-col half">
				<div class="guide-block">
					<h3 class="guide-subtitle">Последовательность операций</h3>
					<p>В зависимости от специфики помещения возможны отличия от предложенного алгоритма действий</p>
					<ul class="guide-list">
						<li>Монтаж и устройство чернового пола. Если в качестве плинтуса планируется использовать L-профиль - необходимо завершить чистовую отделку полов</li>
						<li>Разметка под установку металлокаркаса, в т. ч. под возводимые перегородки</li>
						<li>Монтаж металлокаркаса. Следует предусмотреть установку «закладных» под перегородки, дверные проемы, под крепления тяжелых предметов</li>
						<li>Прокладка необходимых коммуникаций в металлокаркасе. Если предполагает проект вдоль стен и перегородок закладывается минеральная вата</li>
						<li>Установка дверных блоков, зашивка дверных и оконных откосов панелями</li>
						<li>Монтаж отделочных панелей</li>
						<li>Монтаж чистового напольного покрытия и установка плинтусов</li>
					</ul>
				</div>
			</div>
			<div class="guide-col guide-pc">
				<div class="guide-block image"><img src="img/guide-2.jpg" alt="" loading="lazy"></div>
			</div>
			<div class="guide-col">
				<div class="guide-block">
					<h3 class="guide-subtitle">Виды профилей для создания каркаса</h3>
					<p><b>При отделке стен панелями LASPAN используются профили:</b><br>• Профиль направляющий (ПН)<br> • Профиль стоечный (ПС)<br> • Подвес прямой (ПП)</p>
					<p><b>Для монтажа перегородок с применением панелей LASPAN рекомендуется использовать</b><br>• Профиль стоечный 66 (ПС 66)<br> • Профиль направляющий 66 (ПН 66)</p>
					<p>При этом толщина перегородки будет соответствовать толщине дверной коробки (92 мм), а сама дверная коробка дополнительно крепится с помощью омега-профиля по периметру</p>
					<p>При больших высотах или повышенной звукоизоляции - Профиль стоечный 100 (ПС 100) и Профиль направляющий 100 (ПН 100)</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<h2 class="guide-title section-title">Элементы крепеления панелей и монтажа каркаса</h2>
		<div class="manual-material">
			<div class="manual-material__grid manual-material__grid-big">
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Направляющая горизонтальная НПП</b>
					</div>
					<img src="img/material-22.jpg" alt="" loading="lazy">
					<small><span>Размеры</span> 28х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Подвес прямой для ПП</b>
					</div>
					<img src="img/material-6.jpg" alt="" loading="lazy">
					<small><span>Размеры</span> 60х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Профиль стоечный ПП</b>
					</div>
					<img src="img/material-7.jpg" alt="" loading="lazy">
					<small><span>Размеры</span> 60х27 мм</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>F-профиль</b>
					</div>
					<img src="img/material-23.jpg" alt="" loading="lazy">
					<small>Окрашиваются под цвет панелей</small>
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>Омега-профиль с ПИ-заглушкой</b>
					</div>
					<img src="img/material-24.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>L-профиль</b>
					</div>
					<img src="img/material-25.jpg" alt="" loading="lazy">
				</div>
				<div class="manual-material__item">
					<div class="manual-material__item-head">
						<b>А также:</b>
						<div class="manual-material__item-more">
							<i>Дюбель гвозди 6х40</i>
						</div>
						<div class="manual-material__item-more">
							<i>Саморезы Li13 (4,2х13 мм)</i>
						</div>
						<div class="manual-material__item-more">
							<i>Саморезы JP81 (3,5х19мм)</i>
						</div>
						<div class="manual-material__item-more">
							<i>Просекатель</i>
						</div>
						<div class="manual-material__item-more">
							<i>Ножницы по металу или болгарка</i>
						</div>
						<div class="manual-material__item-more">
							<i>Торцовочная пила с диском по стали или алюминию</i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Рекомендации по монтажу каркаса под стеновые панели</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-3.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">На предварительно очищенной поверхности пола делается разметка линий Профиля Направляющего (ПН). ПН крепится к полу и потолку дюбель-гвоздями 600 мм (200 мм от стены до первого дюбель-гвоздя). Рекомендуется использовать уплотнительную ленту в местах соприкосновения профиля с полом и стенами.</div>
			</div>
			<div class="guide-col">
				<div class="guide-block">В углах ПН монтируется на расстоянии<br> 17–22 мм между профилями для того,<br> чтобы в указанный промежуток можно было<br> установить панели Laspan</div>
				<div class="guide-block image"><img src="img/guide-4.jpg" alt="" loading="lazy"></div>
			</div>
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-5.jpg" alt="" loading="lazy"></div>
				<div class="guide-block"><b>Направляющий профиль потолка<br> устанавливается при помощи<br> лазерного уровня.</b></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Монтаж каркаса 2</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-6.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">Чтобы сгладить допуски по высоте<br> помещений, Профиль стоечный (ПС)<br> берется на 10–15 мм ниже номинальной<br> высоты помещения.</div>
			</div>
			<div class="guide-col guide-col-2-3">
				<div class="guide-block">
					<p>Несущие стойки металлокаркаса устанавливаются в нужное положение между направляющими пола/потолка и крепятся к направляющим саморезами Li13 (4,2х13 мм). Установка несущих стоек металлокаркаса осуществляется по следующему принципу: шаг центров стоек равен ширине панели +16 мм ( от угловой стойки +8 мм) – учитываем толщину омега-профиля 12 мм и компенсационный зазор.</p>
					<p><b>Опорные стойки устанавливаются посередине между несущими и служат «рёбрами жёсткости». Опорная стойка может не устанавливаться в случае, когда расстояние между несущими стойками не более 600 мм.</b></p>
				</div>
				<div class="guide-block image"><img src="img/guide-7.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Монтаж каркаса 3</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-8.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">Под установку дверных блоков каркас<br> усиливается брусом (желательно пропитать<br> антисептиком)</div>
			</div>
			<div class="guide-col">
				<div class="guide-block">Для формирования дверных, оконных проемов устанавливают перемычки из Профиля направляющего (ПН). При этом необходимо учитывать высоту чистового пола и оставить монтажный зазор над дверью 1–1,4 см. Между перемычкой и направляющим профилем вставляют усиливающий профиль</div>
				<div class="guide-block image"><img src="img/guide-9.jpg" alt="" loading="lazy"></div>
			</div>
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-10.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">В местах установки перегородок<br> (точки примыкания), монтируются<br> дополнительные стойки, либо<br> устанавливаются деревянные<br> закладные бруски.</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Типовые узлы креплений панелей Laspan</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-11.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 1. Прямое крепление</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-12.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">
					<b>Монтаж панелей при помощи стыковочного Омега-профиля с Пи-заглушкой</b>
					<p>Панель прижимают к металлокаркасу. С одной из сторон панели к стойке металлокаркаса прикладывают омега-профиль и закрепляют его саморезами JP81 (3,5х19мм) с шагом 400 мм</p>
				</div>
			</div>
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-13.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 2. Наружный угол</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-14.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">
					<b>Монтаж наружных углов 90° с использованием F-профиля</b>
					<p>Для прохождения прямых наружных углов используется F-профиль. F-профиль крепится через широкую внутреннюю полку только к стойкам металлокаркаса саморезами Li13 (4,2х13мм) с шагом не более 400 мм</p>
				</div>
			</div>
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-15.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 3. Внутренний угол</div>
		<div class="guide-grid">
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-16.jpg" alt="" loading="lazy"></div>
			</div>
			<div class="guide-col">
				<div class="guide-block">
					<b>Монтаж внутренних углов 90° с использованием L-профиля</b>
					<p>Монтаж панелей, как правило, начинается со стартового L-профиля от угла. L-профиль крепиться только к стойкам металлокаркаса саморезами Li13 (4,2х13мм) с шагом не более 400 мм. L-профиль подбирается с учетом толщины панели</p>
					<hr>
					<p>Отделка внутренних углов может выполняться с использованием L-профиля, прижимающего уже установленную панель с другой стороны угла</p>
				</div>
				<div class="guide-block image"><img src="img/guide-17.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 4. Примыкание к потолку</div>
		<div class="guide-grid">
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-18.jpg" alt="" loading="lazy"></div>
			</div>
			<div class="guide-col">
				<div class="guide-block">
					<b>Монтаж с использованием L-профиля (в случае уже установленного подвесного или гипсокартонного потолка)</b>
					<p>Стык панелей Ласпан с потолком можно оформить с помощью L-профиля. L-профиль закрепляется к направляющей металлокаркаса саморезами Li13 (4,2х13мм) с шагом не более 400 мм. Далее в него заводится панель</p>
					<hr>
					<b style="color: #E31E24;">ВАЖНО!</b>
					<p>Монтаж L- профиля вдольпотолка и пола одновременноможет осуществляться только, еслиприменяется две панели: нижняя иверхняя, которые в свою очередьпримыкают через горизонтальныйомега-профиль.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 5. Примыкание к полу</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block">
					<b>Монтаж с использованием плинтуса</b>
					<p>При использовании накладного плинтуса в местах соединения панелей с полом крепление плинтуса должно производиться на клей или с использованием саморезов</p>
				</div>
			</div>
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-19.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 6. Оконный блок</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block">
					<b>Монтаж с использованием L- и F-профиля</b>
					<p>Оформление откосов начинается с крепления стартового L-профиля к раме окна саморезами Li13 (4,2х13мм) с шагом не более 400 мм. Откос сверху и снизу так же оформлется с помощью L-профилей</p>
					<p>В L-профиль заводятся панели Ласпан, предварительно вырезанные под заданные размеры. Угол откос-стена декорируется с помощью F-профиля, который крепится к стойке металлокаркаса через широкую внутреннюю полку саморезами Li13 (4,2х13мм) с шагом не более 400 мм</p>
				</div>
			</div>
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-20.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Узел 7. Дверной блок</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block">
					<b>Монтаж с использованием омега-профиля</b>
					<p>В местах стыка панелей Ласпан с дверным блоком, как альтернатива наличнику, может использоваться омега- профиль.</p>
					<p>Для этого необходимо, между панелью Ласпан и дверной коробкой предусмотреть зазор, в который устанавливается омега- профиль, закрепляемый к направляющей металлокаркаса саморезами JP81 (3,5х19мм) с шагом не более 400 мм.</p>
					<p>В омега-профиля устанавливается декоративная заглушка (пи-профиль или Т-профиль)</p>
				</div>
			</div>
			<div class="guide-col guide-col-2-3">
				<div class="guide-block image"><img src="img/guide-21.jpg" alt="" loading="lazy"></div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Варианты крепления панелей</div>
		<div class="guide-grid">
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-22.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">
					<b>Монтаж панелей на стены высотой больше высоты листа</b>
					<p>Или при дизайнерских решениях с использованием панелей разных цветов</p>
					<hr>
					<p>В этом случае при формировании металлокаркаса нужно учесть места стыковки панелей и установить дополнительные горизонтальные ребра из металлопрофиля, принимая во внимание ширину омега-профиля. При монтаже листов рекомендуем использовать предложенную схему: сначала устанавливается нижний лист, затем верхний; затем следующий нижний лист и следующий верхний и т. д.</p>
				</div>
			</div>
			<div class="guide-col">
				<div class="guide-block">
					<b>Монтаж без металлокаркаса</b>
					<hr>
					<p>Панели Ласпан можно монтировать без металлокаркаса, непосредственно на стены. Для этого необходимо поверхность заранее подготовить – выровнить и обеспылить. Для монтажа используются различные строительные клеи, по типу «жидкие гвозди» или специальный гипсовый клеевые составы. Клеевые составы наносятся точечно на всю панель с интервалом 30 см.</p>
					<b>Монтаж стыка декоративных профилей (перекрестий)</b>
					<hr>
					<p>При наличии перекрестий между стыковочными омега-профилями: вертикальные омега-профили устанавливаются на всю высоту (длина омега-профиля 3000 мм), а все горизонтальные омега-профиля режутся в размер и устанавливаются между вертикальными стыковочными профилями</p>
				</div>
			</div>
			<div class="guide-col">
				<div class="guide-block image"><img src="img/guide-23.jpg" alt="" loading="lazy"></div>
				<div class="guide-block">
					<b>Двойная зашивка стен</b>
					<hr>
					<p>Для улучшения теплозвукоизоляционных свойств и повышения прочностных характеристик можно использовать двойную зашивку стен.На первый слой можно использовать обычный гипсокартон, который крепится к металлокаркасу. Стыки первого и второго слоя не должны совпадать. Крепление омега-профиля в этом случае производиться удлиненными саморезами JP81 (3.5х25 мм или 32 мм).</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section section-top-0 section-gray">
	<div class="container">
		<div class="guide-title section-title">Рекомендации по монтажу перегородок</div>
		<div class="guide-grid">
			<div class="guide-col half">
				<div class="guide-block">
					<ul class="guide-list guide-list-bullets">
						<li>Сделать разметку будущего каркаса: с помощью лазерного уровня нанести отметки на пол, стены и потолок. Отметить расположение дверей и других проемов, если предполагаются.</li>
						<li>Монтаж каркаса: нарезать Профиль направляющий (ПН) по размеру и приклеить уплотнительную ленту. Закрепить ПН на пол и потолок (строго контролируя плоскость) дюбель- гвоздями с шагом 600 мм (200 мм от стены до первого дюбель-гвоздя). Профиль стоечный (ПС) нарезать по длине, исходя из следующего расчета: высота минус 10–15 мм.Вставить в нижний направляющий профиль, затем в верхний. Сначала устанавливаются ПС вдоль стен (уплотнить лентой) и стойки дверного проема. Затем остальные ПС с шагом центров равным следующему размеру: ширина панели + ширина омега-профиля (12 мм) + компенсационный зазор 4 мм (по 2 мм с каждой стороны Омега-профиля). Стойки выравнивают и крепят саморезами или просекателем внутрь перегородки</li>
						<li>Установить панели Ласпан выше описанным в инструкции способом</li>
						<li>Внутри перегородки проложить коммуникации, разместить утеплитель (звукоизоляцию)</li>
						<li>Произвести монтаж панелей с другой стороны</li>
					</ul>
				</div>
			</div>
			<div class="guide-block image"><img src="img/guide-24.jpg" alt="" loading="lazy"></div>
		</div>
	</div>
</section>


{% endblock %}