{% extends 'components/_layout.html' %}
{% set site_title = 'Страница новости' %}

{% block content %}

<section class="news-single">
	<div class="container">
		<div class="news-single__head">
			<img src="img/benefits-bg.jpg" class="news-single__poster" alt="">
			<div class="news-single__date">15 января, 2025</div>
			<h1 class="section-title">5 роковых ошибок при выборе отделки для коммерческих зданий. Как их избежать и сэкономить до 30% бюджета</h1>
			<ul class="news-single__tags">
				<li><a href="#">Потолки</a></li>
				<li><a href="#">Потолки</a></li>
			</ul>
		</div>
		<div class="news-single__content">
			<h1>Title H1</h1>
			<h2>Title H2</h2>
			<h3>Title H3</h3>
			<h4>Title H4</h4>
			<h5>Title H5</h5>
			<h6>Title H6</h6>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iste architecto in magnam, placeat itaque facere ipsum maxime velit tempora voluptate asperiores. Id repudiandae voluptatem perspiciatis. Natus quia vel id.</p>
			<p>Sit nesciunt ratione, voluptatum quam maxime non cum praesentium, repudiandae possimus minima debitis culpa sequi reiciendis eius soluta eaque voluptatem aliquid alias iusto quos, molestias deserunt assumenda! Vel, ex quasi.</p>
			<p>Magnam placeat ut libero assumenda qui! Omnis atque, distinctio nesciunt temporibus, explicabo voluptatem nulla voluptate porro, ducimus ea earum eaque fuga adipisci cupiditate non tempora deleniti accusamus. Debitis, impedit nisi?</p>
			<ul>
				<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro facere ullam nulla a. Autem qui nostrum expedita beatae minima eum error, molestias architecto, quidem doloribus et, deserunt illo. Nobis, ut.</li>
				<li>Delectus earum consequatur mollitia, odio dolore quos illo. Dolorum ipsa voluptatibus praesentium ab! Aperiam voluptates minima harum dolores dolore consequatur nam, assumenda expedita sint nesciunt consequuntur facere a sequi facilis.</li>
				<li>Magnam, officiis obcaecati? Aliquam provident voluptas consectetur quod eaque asperiores qui exercitationem corrupti est! Esse numquam quia sequi deleniti, deserunt corrupti nemo quis! Eos aut optio porro saepe impedit pariatur.</li>
				<li>Expedita sequi, eaque totam mollitia dolor id recusandae quidem assumenda harum temporibus magni. Sapiente, laudantium, dolore vero quis perferendis quidem ducimus delectus, dicta quia voluptate libero molestias accusantium officiis asperiores.</li>
			</ul>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate doloremque adipisci asperiores praesentium, voluptatem sed laboriosam? Pariatur dolore numquam sit voluptates! Odit exercitationem commodi eius, placeat dicta aliquid numquam molestias!</p>
		</div>
	</div>
</section>

{% endblock %}