{% extends 'components/_layout.html' %}
{% set site_title = 'Детальная страница объекта' %}

{% block content %}

<section class="breadcrumbs objects-breadcrumbs" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.06%, rgba(0, 0, 0, 0.8) 100%), url(img/objects-breadcrumbs.jpg);">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Выполненные объекты</a></li>
			<li><a href="#">Гемодиализный центр, г.Уфа</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Гемодиализный центр, г.Уфа</h2>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="section-head__counter">
			<h2 class="section-title">О проекте</h2>
		</div>
		<div class="objects-about__text">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa ipsam consectetur repudiandae saepe voluptatem doloribus praesentium amet nisi perferendis. Minus eius odit, recusandae autem sint doloribus molestiae ut asperiores corrupti?</p>
			<p>Atque, ad. Esse nostrum rem unde laborum amet! Quae facere numquam mollitia reiciendis reprehenderit tenetur nemo nam hic voluptate veritatis error commodi, labore animi delectus sit ratione placeat quibusdam. Temporibus!</p>
			<p>Animi, minus quae maxime veniam corrupti, officia repellendus, quidem amet illo enim voluptatibus laborum corporis laboriosam. Maxime odit ratione dolorum exercitationem ex nostrum, saepe vel iure aliquid at sint facilis!</p>
			<p>Quis corrupti rem repudiandae explicabo at cum alias commodi debitis adipisci aspernatur provident, aliquam temporibus tempora et nobis voluptatibus, consequuntur dolore recusandae! Tenetur quaerat provident aut reprehenderit suscipit iure nobis!</p>
			<p>Odio cupiditate quasi eos rem suscipit nesciunt praesentium, doloremque optio nisi culpa consequuntur placeat quis voluptate labore autem quaerat ex totam. Eos nihil molestias eligendi, quaerat eius possimus illum autem!</p>
			<p>Eius omnis est quae? Ullam, repellendus veritatis. Dolorem voluptas totam cumque nesciunt corporis cupiditate quaerat ea quidem accusamus assumenda temporibus pariatur quo voluptatibus id, itaque et repellendus. Voluptatibus, ad temporibus!</p>
			<p>Quae vero id, dignissimos dolorum assumenda nulla molestias iusto, dolores accusantium officiis officia cum tempora repellendus nam praesentium accusamus tempore laborum quod repudiandae a maiores reiciendis doloremque ex unde. Dignissimos?</p>
			<p>Delectus doloribus quisquam, eius cumque ipsa ipsam, inventore porro excepturi modi alias earum quidem unde tempore illo. Vitae impedit debitis fugiat perspiciatis vel cum dolorum aliquam nam, consequatur quo! Eum?</p>
			<p>Cum, laborum culpa. Laboriosam dolorum cupiditate minus voluptatem vero odio minima sequi obcaecati velit corrupti quae ut recusandae, quidem, iusto voluptatum voluptatibus maiores impedit nihil quia eos delectus, adipisci optio.</p>
			<p>Accusantium deleniti obcaecati doloremque quo ratione a hic, dolores expedita incidunt ea temporibus eum, consequuntur nam nobis, excepturi nostrum adipisci natus esse quas aliquid animi ullam! Rem dolorem provident vero.</p>
		</div>
		<ul class="objects-about__info">
			<li>
				<span>Тип панелей:</span>
				<p><a href="#">Ламинированные панели "Laspan Biomed"</a></p>
			</li>
			<li>
				<span>Стоимость панелей</span>
				<p>695 руб/м<sup>2</sup></p>
			</li>
			<li>
				<span>Объем:</span>
				<p>более 6 000 м<sup>2</sup></p>
			</li>
			<li>
				<span>Декоры</span>
				<p>синий, Дуб светлый, серый, бежевый, Бук светлый</p>
			</li>
			<li>
				<span>Срок поставки:</span>
				<p>21 день</p>
			</li>
			<li>
				<span>Год реализации:</span>
				<p>2020</p>
			</li>
		</ul>
	</div>
</section>

<section class="section section-top-0 gallery">
	<div class="container">
		<div class="gallery-head">
			<div class="section-head__counter">
				<h2 class="section-title">Галерея проекта</h2>
			</div>
			<div class="gallery-arrows">
				<button class="splide__arrow splide__arrow--prev">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.88224 4.25565e-07L8 1.13697L2.23553 7.00048L8 12.863L6.88224 14L3.05965e-07 7.00048L6.88224 4.25565e-07Z" fill="currentColor"/>
					</svg>
				</button>
				<div class="gallery-counter">
					<div class="gallery-counter__current">01</div>
					<div class="gallery-counter__progress"><span style="width: 40%;"></span></div>
					<div class="gallery-counter__total">05</div>
				</div>
				<button class="splide__arrow splide__arrow--next">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.11776 14L-2.57602e-07 12.863L5.76447 6.99952L2.5496e-07 1.13697L1.11776 -3.00821e-07L8 6.99952L1.11776 14Z" fill="currentColor"/>
					</svg>
				</button>
			</div>
		</div>
		<div class="gallery-carousel splide">
			<div class="splide__track">
				<div class="splide__list">
					<div class="splide__slide"><a href="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" data-fancybox class="gallery-carousel__item"><img src="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" alt="" loading="lazy"></a></div>
					<div class="splide__slide"><a href="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" data-fancybox class="gallery-carousel__item"><img src="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" alt="" loading="lazy"></a></div>
					<div class="splide__slide"><a href="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" data-fancybox class="gallery-carousel__item"><img src="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" alt="" loading="lazy"></a></div>
					<div class="splide__slide"><a href="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" data-fancybox class="gallery-carousel__item"><img src="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" alt="" loading="lazy"></a></div>
					<div class="splide__slide"><a href="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" data-fancybox class="gallery-carousel__item"><img src="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" alt="" loading="lazy"></a></div>
					<div class="splide__slide"><a href="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" data-fancybox class="gallery-carousel__item"><img src="https://laspan.ru/wp-content/uploads/2024/07/lsp-4-1.jpg" alt="" loading="lazy"></a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section videoreview">
	<div class="container">
		<div class="videoreview-head">
			<div class="videoreview-head__text section-head">
				<h2 class="section-title">Видеообзор объекта</h2>
				<p class="section-description">Смотреть <a href="#">VK Video</a></p>
			</div>
			<div class="videoreview-head__btns">
				<a href="#" class="btn btn-md btn-red">Отправить проект на расчет</a>
				<a href="#" class="btn btn-md btn-yellow">Заказать дизайн интерьера</a>
			</div>
		</div>
		<a href="https://vkvideo.ru/video869536710_456239025" data-fancybox class="videoreview-video"><img src="img/showroom-video.jpg" loading="lazy" alt=""></a>
	</div>
</section>

<section class="section objects-others">
	<div class="container">
		<div class="objects-others-head">
			<div class="section-head__counter">
				<h2 class="section-title">Другие объекты</h2>
			</div>
			<div class="objects-others-arrows">
				<button class="splide__arrow splide__arrow--prev">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.88224 4.25565e-07L8 1.13697L2.23553 7.00048L8 12.863L6.88224 14L3.05965e-07 7.00048L6.88224 4.25565e-07Z" fill="currentColor"/>
					</svg>
				</button>
				<div class="objects-others-counter">
					<div class="objects-others-counter__current">01</div>
					<div class="objects-others-counter__progress"><span style="width: 40%;"></span></div>
					<div class="objects-others-counter__total">05</div>
				</div>
				<button class="splide__arrow splide__arrow--next">
					<svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.11776 14L-2.57602e-07 12.863L5.76447 6.99952L2.5496e-07 1.13697L1.11776 -3.00821e-07L8 6.99952L1.11776 14Z" fill="currentColor"/>
					</svg>
				</button>
			</div>
		</div>
		<div class="objects-others-carousel splide">
			<div class="splide__track">
				<div class="splide__list">
					<div class="splide__slide">{% include 'components/objects-section-item.html' %}</div>
					<div class="splide__slide">{% include 'components/objects-section-item.html' %}</div>
					<div class="splide__slide">{% include 'components/objects-section-item.html' %}</div>
					<div class="splide__slide">{% include 'components/objects-section-item.html' %}</div>
					<div class="splide__slide">{% include 'components/objects-section-item.html' %}</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}