{% extends 'components/_layout.html' %}
{% set site_title = 'Объекты' %}

{% block content %}

<section class="breadcrumbs breadcrumbs-bg-image" style="background-image: url(img/objects-breadcrumbs.jpg);">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Выполненные объекты</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Выполненные объекты</h2>
	</div>
</section>

<section class="objects-categories">
	<div class="container">
		<div class="objects-categories__container">
			<ul class="objects-categories__list">
				<li class="active"><a href="#ofisy-i-biznes-czentry">Офисы и бизнес-центры</a></li>
				<li><a href="#ob-2">Административные учреждения</a></li>
				<li><a href="#">Торговые помещения</a></li>
				<li><a href="#">Медицинские учреждения</a></li>
				<li><a href="#">ЖК и апартаменты</a></li>
				<li><a href="#">Гостиницы и отели</a></li>
			</ul>
		</div>
	</div>
</section>

<section class="section section-bottom-0 objects-section" id="ofisy-i-biznes-czentry">
	<div class="container">
		<div class="section-title">Офисы и бизнес-центры</div>
		<div class="objects-section__content">
			<div class="objects-section__text">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fuga veniam quaerat beatae distinctio blanditiis maxime eaque officia numquam nihil voluptatibus, dicta alias nobis omnis consequatur eos qui doloremque dolorem.</p>
				<p>Reiciendis, tenetur sapiente? Voluptatem est assumenda repellat quaerat nostrum deleniti, quo id! Veritatis numquam doloremque voluptatibus incidunt architecto voluptate officia minima recusandae quas. Id repellat facere corrupti provident, debitis qui.</p>
				<p>Cupiditate voluptatum eius autem facere officiis a praesentium beatae, hic modi distinctio dicta, pariatur repellat veniam error quos consectetur aspernatur porro impedit quas iste voluptas assumenda incidunt. Quasi, quia corporis!</p>
			</div>
			<ul class="objects-section__cards">
				<li><img src="" alt=""><b>Скорость</b></li>
				<li><img src="" alt=""><b>Выгода</b></li>
				<li><img src="" alt=""><b>Практичность</b></li>
				<li><img src="" alt=""><b>Практичность</b></li>
				<li><img src="" alt=""><b>Практичность</b></li>
				<li><img src="" alt=""><b>Практичность</b></li>
			</ul>
		</div>
		<div class="objects-section__grid">
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
		</div>
	</div>
</section>

<section class="section objects-section" id="ob-2">
	<div class="container">
		<div class="section-title">Административные учреждения</div>
		<div class="objects-section__grid">
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
		</div>
	</div>
</section>

{% endblock %}