{% extends 'components/_layout.html' %}
{% set site_title = 'Объекты' %}

{% block content %}

<section class="breadcrumbs breadcrumbs-bg-image" style="background-image: url(img/objects-breadcrumbs.jpg);">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Выполненные объекты</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Выполненные объекты</h2>
	</div>
</section>

<section class="section section-bottom-0 objects-section">
	<div class="container">
		<div class="section-title">Офисы и бизнес-центры</div>
		<div class="objects-section__grid">
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
		</div>
	</div>
</section>

<section class="section objects-section">
	<div class="container">
		<div class="section-title">Административные учреждения</div>
		<div class="objects-section__grid">
			{% include 'components/objects-section-item.html' %}
			{% include 'components/objects-section-item.html' %}
		</div>
	</div>
</section>

{% endblock %}