{% extends 'components/_layout.html' %}
{% set site_title = 'Детальная страница объекта' %}

{% block content %}

<section class="breadcrumbs objects-breadcrumbs" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.06%, rgba(0, 0, 0, 0.8) 100%), url(img/objects-breadcrumbs.jpg);">
	<div class="container">
		<ul class="breadcrumbs-nav">
			<li><a href="#">Главная</a></li>
			<li><a href="#">Выполненные объекты</a></li>
			<li><a href="#">Гемодиализный центр, г.Уфа</a></li>
		</ul>
		<h2 class="breadcrumbs-title section-title">Гемодиализный центр, г.Уфа</h2>
	</div>
</section>

{% endblock %}