{% extends 'components/_layout.html' %}
{% set site_title = 'Ламинированные панели' %}

{% block content %}

<section class="section section-gray certificates">
	<div class="container">
		<div class="section-head">
			<h2 class="section-title">Панели соответствуют С-RU.ПБ72.В.00138</h2>
			<p class="section-description">ТУ 5742-001-68452280-2016 «Материалы отделочные на основе гипсокартона: «Гипсовинил» (гипсовиниловые панели)</p>
		</div>
		<div class="certificates-grid">
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
			{% include 'components/certificates-item.html' %}
		</div>
	</div>
</section>

{% endblock %}